extends layout

//- block head-meta-tags
//- 	meta(name='google-site-verification', content='8G89hI-IVBJCNCuCpLBTxts6VkXOf4ou_6UDyJO7w9g')
//- 	script(src='/cdn-cgi/apps/head/mrpBBlGiSXt0daZ72AbZDUrvd-s.js')
//- 	link(rel='canonical', href='http://eaudevie.com.au/')
//- 	meta(property='og:locale', content='en_US')
//- 	meta(property='og:type', content='website')
//- 	meta(property='og:title', content='Eau De Vie: Cocktail Bar | Cocktail Masterclasses')
//- 	meta(property='og:url', content='http://eaudevie.com.au/')
//- 	meta(property='og:site_name', content='Eau-de-Vie')
//- 	meta(name='twitter:card', content='summary')
//- 	meta(name='twitter:title', content='Eau De Vie: Cocktail Bar | Cocktail Masterclasses')
//- 	// Google Tag Manager
//- 	script.
//- 		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
//- 		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
//- 		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
//- 		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
//- 		})(window,document,'script','dataLayer','GTM-TBJ3DHG');
//- 	// End Google Tag Manager
//- 	script(type='application/ld+json').
//- 		{"@context":"http:\\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/eaudevie.com.au\/","name":"Eau-de-Vie","potentialAction":{"@type":"SearchAction","target":"http:\/\/eaudevie.com.au\/?s={search_term_string}","query-input":"required name=search_term_string"}}

block head-section
	// Google Tag Manager (noscript)
	noscript
		iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TBJ3DHG', height='0', width='0', style='display:none;visibility:hidden')
	// End Google Tag Manager (noscript)
	section#landing.full-page(data-name="landing")
		.logo-player
			.logo-text
				.logo-image
					img.img-responsive(src="/img/logo-gold.png")
					//- img.img-responsive(src="/img/nr-logo.png")
					br
					.logo-links
						a(href="/melbourne") Melbourne
						a(href="/parramatta") Parramatta
		a.section-link(href="#")
block foot-scripts
	script(src='/vendors/smooth-scroll-to/smooth-scroll-to.js')
	script(src='/vendors/jquery.lightslider/lightslider.js')
	script(src='/vendors/wow-book/wow-book.min.js')
	script(src='/vendors/myguestlist.min.js')
	script(type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyBlgIn8vzt6tG2Jyne6pqfNqwJk6X_C9yo")
block page-scripts
	script(src='/js/scripts.js')
	
