doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=10')
		meta(http-equiv="cleartype" content="on")
		title #{( Page.hasOwnProperty('Title') ? Page.Title+' | '+Meta.Title : Meta.Title )}
		meta(name="description" content=(Page.hasOwnProperty('Description')?Page.Description:Meta.Description))
		meta(name="keywords" content=(Page.hasOwnProperty('Keywords')?Page.Keywords:Meta.Keywords))
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='robots', content='all,follow')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.5.5/datepicker.css')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(href='//fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet')
		script(src='//cdn.ravenjs.com/3.13.1/raven.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/vendors/jquery.imgpreload.min.js')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet")
		link(rel='apple-touch-icon-precomposed', sizes='57x57"', href='/icons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/icons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72"', href='/icons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/icons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon-precomposed', sizes='60x60"', href='/icons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/icons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon-precomposed', sizes='76x76"', href='/icons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/icons/apple-touch-icon-152x152.png')
		link(rel='icon', type='image/png', href='/icons/favicon-196x196.png', sizes='196x196')
		link(rel='icon', type='image/png', href='/icons/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/icons/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/icons/favicon-16x16.png', sizes='16x16')
		link(rel='icon', type='image/png', href='/icons/favicon-128.png', sizes='128x128')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js')
		link(rel='stylesheet' href='/vendors/jquery.lightslider/lightslider.css')
		link(rel='stylesheet' href='/vendors/wow-book/wow-book.css')
		link(rel='stylesheet' href='/vendors/sidr/jquery.sidr.bare.css')
		link(rel='stylesheet' href='/vendors/featherlight/featherlight.css')
		link(rel='stylesheet' href='/css/styles.css')
		style(type="text/css").
			body {background:rgb(3,3,3)}
			.sr .fooReveal{visibility: hidden}
			section, .float-nav { display: none; }
			body.core-ready section, body.core-ready .float-nav { display:block; }
			.loading-placeholder { display:none; margin: 0 auto; }
			section.loading .loading-placeholder { display:block }
		script(type='text/javascript') window.scrollTo(0,0);
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T7LC92R');
		// End Google Tag Manager
		// Facebook Pixel Code
		script.
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function()
			{n.callMethod?   n.callMethod.apply(n,arguments):n.queue.push(arguments)}
			;
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1031570077036201');
			fbq('track', 'PageView');
		noscript
			img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1031570077036201&ev=PageView&noscript=1')
		// End Facebook Pixel Code
		block head-scripts
	body
		#body-blocker
		#fb-root(style="display: none")
		block head-section
		#global-page-loader
		//- include menu-nav
		block content
		footer
			block footer
		block foot-scripts
		script(src='/vendors/jquery.sticky/jquery.sticky.js')
		script(src='/vendors/jquery.reveal/jquery.reveal.min.js')
		script(src='/vendors/sidr/jquery.sidr.min.js')
		script(src='/vendors/smooth-scroll-to/smooth-scroll-to.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
		script(src="https://www.google.com/recaptcha/api.js?render=explicit" async defer)
		//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.5.5/datepicker.min.js" id="MGLIncludeJqueryUI")
		script(src='/vendors/featherlight/featherlight.js')
		//- script(src="https://myguestlist.com.au/mgl/displayform.php?formID=mf5a31e7baaaada" )
		block page-scripts
		script Raven.config('#{SentryToken}').install();
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T7LC92R', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=136952963535700&autoLogAppEvents=1';
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			