nav.float-nav
	.navigation.container-fluid.clearfix
		.menu-left.hover-location
			a(alt="Nick & Nora's | Home").menu-logo
				img.img-responsive(src="/img/nr-logo.png")
			.location-label
				if(Page.Location == 'parramatta')
					.location-option.active
						a(href="/parramatta") Parramatta
					.location-option
						a(href="/melbourne") Melbourne
				if(Page.Location == 'melbourne')
					.location-option.active
						a(href="/melbourne") Melbourne
					.location-option
						a(href="/parramatta") Parramatta
		#mobile-menu-toggle.mobile-nav-toggle
			.bar-nav
			.bar-nav
			.bar-nav
		ul#abs-main-nav.menu-main(role="navigation")
			if(Page.Location == "parramatta/faq")
				li
					a(data-scroll href="/parramatta#home") Home
				li
					a(data-scroll href="/parramatta#menu") Menu
				li
					a(href="https://www.instagram.com/nickandnorasaustralia") Gallery
				li
					a(data-scroll href="/parramatta#events") Events
				//- li
				//- 	a(data-scroll href="#masterclass") Masterclasses
				li
					a(data-scroll href="/parramatta#contact") Contact
				li
					a(data-scroll href="/parramatta/faq") FAQs
				li
					a(data-scroll href="https://speakeasy-group.myshopify.com/") Shop
			else
				li
					a(data-scroll href=(Page.IsNonIndex?'/'+Page.Location:'')+"#home") Home
				li
					a(data-scroll href=(Page.IsNonIndex?'/'+Page.Location:'')+"#menu") Menu
				li
					a(href="https://www.instagram.com/nickandnorasaustralia") Gallery
				li
					a(data-scroll href=(Page.IsNonIndex?'/'+Page.Location:'')+"#events") Events
				//- li
				//- 	a(data-scroll href="#masterclass") Masterclasses
				li
					a(data-scroll href=(Page.IsNonIndex?'/'+Page.Location:'')+"#contact") Contact
				li
					a(data-scroll href="/parramatta/faq") FAQs
				li
					a(data-scroll href="https://speakeasy-group.myshopify.com/" target="_blank") Shop
			
		#abs-purchase-nav.menu-right
			li
				a.embers.make-a-booking(href="https://tickets.myguestlist.com.au/v25b443a226c7aa/nick-noras-gift-voucher/") Gift Vouchers
			li
				a.embers.make-a-booking(data-featherlight="#bookings-pop-content") Book Now