section#whats-on(data-name="whats-on")
	.section-head-nav
		.section-header
			h1 What's On
	.container
		.row
			//-.col-sm-6.col-md-4.no-float
				a.about-block(data-fn="menu")
					.about-block-header
						h2 FOOD
						img.img-responsive(src="/img/block-menu.jpg")
					.about-block-body
						.about-block-content
							| Our exceptional canapé style menu showcases the best in local oysters, world class caviar, artisanal cheeses and charcuterie and the perfect tasty morsels to compliment your champagne or cocktail. 
						.about-block-link
							.button.ember More Info
			.col-xs-12.col-sm-10.col-sm-offset-1.no-float
				//- .col-sm-6.col-md-6.no-float
				a.about-block(href="https://tickets.myguestlist.com/v25fc2dfab6fe8e/nick-noras-annual-nye-masquerade-ball/evs5fc2dfab772cd/" target="_blank")
					#nye-parramatta.about-block-header
						img.img-responsive(src="/img/nye-nickandnorras-parramatta.png")
					.about-block-body
						.about-block-content
							h2 Buy Tickets
							p New Years Eve at Nick and Noras Melbourne
						.about-block-link
							.button.ember More Info