section#contact(data-name="contact")
	.section-head-nav.gallery-container.hidden-xs
		.section-header.gallery-header
			h1 Contact
	.container
		.row.contact-bg
			.col-sm-6.contact-redirect.text-center
				.open-times-footer
					h2 Bookings
					p Nick and Nora’s takes reservations for up to 16 guests. Bookings can be made online though open table or by contacting our reservations and events team.
					p.mb-3 If your preferred timing or party size does not show please contact the reservations team directly on 02 8646 4930.
					a.embers.make-a-booking.button(data-featherlight="#bookings-pop-content") Book Now
					p.my-3 For group bookings of 16 or more please complete our event enquiry form below and our events team will be in touch within 24hours.
				.open-times-footer
					h2.text-center.contact-form-heading Event Enquiries
					
				.row
					.col-xs-6
						a.pdf-button-link.button.embers#event-enquiry-form-trigger Event Enquiries
						.mb-3
					.col-xs-6
						//- a.pdf-button-link.button.embers(data-featherlight="iframe" data-featherlight-iframe-height="550" data-featherlight-iframe-width="400" href="https://myguestlist.com.au/mgl/showForm.php?id=5b722f789a439" target="_blank") Media Enquiries
						a.pdf-button-link.button.embers#media-enquiry-form-trigger Media Enquiries
						.mb-3
					.col-xs-6
						a.pdf-button-link.button.embers#general-enquiry-form-trigger General Enquiries
						.mb-3
					.col-xs-6
						a.pdf-button-link.button.embers#masterclass-form-trigger.masterclass-form-trigger Masterclass Enquiries
				.mb-3
				.row
					.col-xs-12
						.like-container
							.fb-like(
								data-href="https://www.facebook.com/nickandnorasparramatta"
								data-layout="standard"
								data-colorscheme="dark"
								data-action="like"
								data-size="large")
			.col-sm-6
				.contact-detail-container
					.open-times-footer.visible-xs
						h2 Contact
					.contact-logo
						img.img-responsive(src="/img/nicknora-inverse.png")
					ul.contact-details
						li
							| PH: 
							a(href="tel:+61286464930") (02) 8646 4930
						li
							| Email:
							a(href="mailto:parramatta@nickandnoras.com.au") parramatta@nickandnoras.com.au
						li
							| Address:
							a(href="Level 26, 45 Macquarie St, Parramatta 2150")
								| Level 26, 45 Macquarie St, Parramatta 2150
					.open-times-footer
						h2 Open Times
						li Monday: 
							span CLOSED
						li Tuesday: 
							span CLOSED
						li Wednesday: 
							span 5pm – midnight
						li Thursday: 
							span 5pm – midnight
						li Friday: 
							span 4pm – midnight
						li Saturday: 
							span 4pm – midnight
						li Sunday: 
							span 3pm – 10pm
					.mb-3
					.row
						.col-sm-6
							a.pdf-button-link.button.embers(href="https://www.facebook.com/nickandnorasparramatta/" target="_blank")
								| Facebook
						.mb-3.visible-xs
						.col-sm-6
							a.pdf-button-link.button.embers(href="https://www.instagram.com/nickandnorasaustralia" target="_blank")
								| Instagram
					.mb-3
					a.pdf-button-link.button.embers(data-featherlight="#join-our-team-content") Join Our Team
					.mb-3
					a.pdf-button-link.button.embers#subscribe-form-trigger Subscribe to our Newsletter
.hidden
	#subscribe-form.featherlight-form
		h1.contact-form-heading Subscribe to our Newsletter
		.row
			.col-sm-8.col-sm-offset-2
				form#mf441f173b277.form.contact-form(action='//myguestlist.com/mgl/formreceiver.php', method='POST')
					input(type='hidden', name='formID', value='mf441f173b277')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf441f173b277_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf441f173b277_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf441f173b277_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf441f173b277_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					.form-group
						label.input-label
							span If you have a special sign up code, please enter it below. Otherwise, just click on the Submit button to complete your registration.
							input#mf441f173b277_Code.form-input(type='text' name='Code' placeholder='Signup Code')
					input#5b8e28984c645(type="hidden" name="Mglcategory" value="")
					.g-recaptcha.form-group#subscribe-recaptcha
					.form-group
						button.button.embers.ready(type='submit', id="newsletterFormButton") Send
	#general-enquiry-form.featherlight-form
		h1.contact-form-heading General Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				form#mf5ca409b62e251.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf5ca409b62e251')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf5ca409b62e251_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf5ca409b62e251_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf5ca409b62e251_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf5ca409b62e251_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					//- Company name if applicable
					.form-group
						label.input-label 
							span company name
							input#mf5ca409b62e251_CompanyNameIfApplicable.form-input(type='text' name='CompanyNameIfApplicable' placeholder='Company Name')
					//- Message
					.form-group
						label.input-label
							span message*
							textarea#mf5ca409b62e251_Message.form-input(type='text' name='Message' placeholder='Message*' required='required')
					.g-recaptcha.form-group#general-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="generalFormButton" disabled="disabled") Send
	#masterclass-form.featherlight-form
		h1.contact-form-heading Masterclass Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				//- form#test(onsubmit="return false;")
				//- 	button.testoo(type="submit")
				//- form#mf5ca4081d0d3f9.form.contact-form(method='POST' action='/recaptcha')
				form#mf5ca4081d0d3f9.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf5ca4081d0d3f9')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf5ca4081d0d3f9_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf5ca4081d0d3f9_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf5ca4081d0d3f9_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf5ca4081d0d3f9_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					.form-group
						label.input-label
							span phone number*
							select#mf5ca4081d0d3f9_MasterclassType.form-input(type='text', name='MasterclassType', placeholder='Masterclass Type*', required='required')
								option(value="" selected="selected") Masterclass Type*
								option(value="Martini Masterclass") Martini Masterclass
								option(value="Whisky Masterclass") Whisky Masterclass
								option(value="Cocktail Masterclass") Cocktail Masterclass
					.form-group
						label.input-label
							span occasion
							table(border="0" cellpadding="2" style="margin-bottom: 10px;width:100%;")
								tbody
									tr
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Corporate")
												span(class="checkbox-label") Corporate
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Special Occasion")
												span(class="checkbox-label") Special Occasion
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Hen&#39;s Party")
												span(class="checkbox-label") Hen's Party
											br
									tr
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Buck&#39;s Party")
												span(class="checkbox-label") Buck's Party
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Birthday") 
												span(class="checkbox-label") Birthday
											br
					//- Company name if applicable
					.form-group
						label.input-label 
							span company name
							input#mf5ca4081d0d3f9_CompanyNameIfApplicable.form-input(type='text' name='CompanyNameIfApplicable' placeholder='Company Name')
					//- Date of event
					.form-group
						label.input-label
							span date of event*
							input#mf5ca4081d0d3f9_DateOfYourEvent.form-input.masterclass-datepicker(type="text" style="padding-left: 16px; background-image: url(\"//www.myguestlist.com.au/mgl/images/formgen/date.png\"); background-repeat: no-repeat; width:100%;" name="DateOfYourEvent" readonly="" rel="required" placeholder="Date of your event*" aria-invalid="false")
							input.form-input(name="mgldaterealval__DateOfYourEvent" type="hidden" style="display:none;")
					//- Event timing
					.row
						label.input-label(style="margin-left:1.5rem;")
							span time*
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") HH
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7
									option(value="8") 8
									option(value="9") 9
									option(value="10") 10
									option(value="11") 11
									option(value="12") 12
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") MM
									option(value="00") 00
									option(value="30") 30
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time")
									option(value="") 
									option(value="AM" selected="selected") AM
									option(value="PM") PM
					.form-group
						label.input-label
							span approximate numbers*
							input.form-input#mf5ca4081d0d3f9_ApproximateNumbers(type="text" name="ApproximateNumbers" value="" required="required" placeholder="Approximate numbers*")
					//- Message
					.form-group
						label.input-label
							span message*
							textarea#mf5ca4081d0d3f9_Message.form-input(type='text' name='Message' placeholder='Message*' required='required')
					//- Captcha
					.form-group.hidden
						label.input-label
							span Captcha
						//- .g-recaptcha
							//- input(type="text", name="gToken" hidden)
							//- div.MGLRecaptchaContainer(id="mf5ca4081d0d3f9_recaptcha" )
							//- #MGLRecaptchaContainer.xxx_recaptcha
					.g-recaptcha.form-group#masterclass-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="masterclassFormButton" disabled="disabled") Send
	#event-enquiry-form.featherlight-form
		h1.contact-form-heading Event Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				//- form#test(onsubmit="return false;")
				//- 	button.testoo(type="submit")
				//- form#mf5ca4081d0d3f9.form.contact-form(method='POST' action='/recaptcha')
				form#mf442250e5a27.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf442250e5a27')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf442250e5a27_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf442250e5a27_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf442250e5a27_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf442250e5a27_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					.form-group
						label.input-label
							span occasion
							table(border="0" cellpadding="2" style="margin-bottom: 10px;width:100%;")
								tbody
									tr
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Corporate")
												span(class="checkbox-label") Corporate
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Special Occasion")
												span(class="checkbox-label") Special Occasion
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="CustomCheckboxes[]" value="Other")
												span(class="checkbox-label") Other
											br
					//- Company name if applicable
					.form-group
						label.input-label 
							span company name
							input#mf442250e5a27_CompanyNameIfApplicable.form-input(type='text' name='CompanyNameIfApplicable' placeholder='Company Name')
					//- Date of event
					.form-group
						label.input-label
							span date of event*
							input#mf442250e5a27_DateOfYourEvent.form-input.event-datepicker(type="text" style="padding-left: 16px; background-image: url(\"//www.myguestlist.com.au/mgl/images/formgen/date.png\"); background-repeat: no-repeat; width:100%;" name="DateOfYourEvent" readonly="" rel="required" placeholder="Date of your event*" aria-invalid="false")
							input.form-input(name="mgldaterealval__DateOfYourEvent" type="hidden" style="display:none;")
					//- Event timing
					.row
						label.input-label(style="margin-left:1.5rem;")
							span time*
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") HH
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7
									option(value="8") 8
									option(value="9") 9
									option(value="10") 10
									option(value="11") 11
									option(value="12") 12
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") MM
									option(value="00") 00
									option(value="30") 30
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time")
									option(value="") 
									option(value="AM" selected="selected") AM
									option(value="PM") PM
					//- Approx. budget
					.row
						label.input-label(style="margin-left:1.5rem;")
							span approximate budget*
						.col-sm-12
							.form-group
								select#mf442250e5a27_ApproximateBudget.form-input(name="ApproximateBudget" rel="required" mgltype="time" class="has_placeholder")
									option(value="" selected="selected") Approximate budget*
									option(value="Under $1,000") Under $1,000
									option(value="$1,000 - $2,000") $1,000 - $2,000
									option(value="$2,000 - $5,000") $2,000 - $5,000
									option(value="$5,000 - $10,000") $5,000 - $10,000
									option(value="Over $10,000") Over $10,000
					.form-group
						label.input-label
							span approximate numbers*
							input.form-input#mf442250e5a27_ApproximateNumbers(type="text" name="ApproximateNumbers" value="" required="required" placeholder="Approximate numbers*")
					//- Message
					.form-group
						label.input-label
							span message*
							textarea#mf442250e5a27_Message.form-input(type='text' name='Message' placeholder='Message*' required='required')
					//- Captcha
					.form-group.hidden
						label.input-label
							span Captcha
					.g-recaptcha.form-group#event-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="eventFormButton" disabled="disabled") Send
	#media-enquiry-form.featherlight-form
		h1.contact-form-heading Media Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				form#mf4422a651306.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf4422a651306')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf4422a651306_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf4422a651306_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf4422a651306_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf4422a651306_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					//- Publication
					.form-group
						label.input-label 
							span publication*
							input#mf4422a651306_Publication.form-input(type='text' name='Publication' placeholder='Company Name')
					.g-recaptcha.form-group#media-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="mediaFormButton" disabled="disabled") Send
include join-our-team
