section#events(data-name="events")
	.section-head-nav.our-menu-container.section-events-header
		.section-header.our-menu-header
			h1 Events
	.our-menu-content.hidden-xs
		img.loading-placeholder.img-responsive-vert(src='/img/front-cover.jpg')
		.col-xs-12.col-sm-10.col-sm-offset-1
			.book-display-wrapper
				#book-events-controls.book-controls
					#book-events-prev.prev-page
					#book-events-next.next-page
				#book-events.clearfix
					.page(data-image='/img/front-cover.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-1.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-2.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-3.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-4.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-5.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-7.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-6.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-8.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-9.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-10.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-11.jpg')
					.page(data-double="true" data-image='/pdf/parramatta/events/nnp_events_page-12.jpg')
					.page(data-image='/img/back-cover.jpg')
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
				a.pdf-button-link.button.embers(href="/pdf/parramatta/events/nnp_events.pdf" target="_blank") View as PDF
	.visible-xs
		.mb-3
	.visible-xs
		.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
			a.pdf-button-link.button.embers(href="/pdf/parramatta/events/nnp_events.pdf" target="_blank") View Events Package
	.container-wallpaper
