.about-bg-container
	section(data-name="about")
		.container
			//-.crowdfunding-banner
				a(href="https://www.birchal.com/company/speakeasy" target="_blank")
					img(src="/img/crowd-funding-banner.jpg")
			.about-container.col-sm-6.col-sm-offset-3
				.about-header
					h1
						| About
				.about-content
					p
						| Nick &amp; Nora’s  is a cocktail and champagne bar that brings the golden era of glamourous and decadent post prohibition soirees to the modern day - sky high over Parramatta.
					p
						| Inspired by fictional murder solving duo Nick and Nora Charles from novel The Thin Man, Nick and Nora’s Parramatta brings the couples legendary parties and love for all things cocktail and champagne to its exceptional rooftop location on the 26 th floor of V by Crown.
					p
						| Step inside to experience the true Nick &amp; Nora Charles hospitality and let our world class bartenders create the perfect libation.
					p
						| The magnificent food menu compliments the extensive range of champagne and cocktails perfectly, featuring oysters, caviar, local and imported cheese and cured meats as well as substantial canapés.
					p
						| Treat your guests to an elegant event in one of our exclusive and luxury spaces – the exclusive Champagne Parlour, our Mad Men-esque Boardroom or our enormous Harbour facing Terrace complete with private bar and un interrupted views across the city skyline.
				.hidden-lg.hidden-md.hidden-sm
					.about-content.about-actions
						.row
							.col-xs-6
								//booking link
								a.make-a-booking(data-featherlight="#bookings-pop-content") Book Now
							.col-xs-6
								//gift-voucher link
								a.make-a-booking(href="https://tickets.myguestlist.com.au/v25b443a226c7aa/nick-noras-gift-voucher/") Gift Vouchers
	section(data-name="about-detail")
		.container
			.row
				.col-sm-6.col-md-4.no-float
					a.about-block(data-fn="menu")
						.about-block-header
							h2 FOOD
							img.img-responsive(src="/img/block-menu.jpg")
						.about-block-body
							.about-block-content
								| Our exceptional canapé style menu showcases the best in local oysters, world class caviar, artisanal cheeses and charcuterie and the perfect tasty morsels to compliment your champagne or cocktail. 
							.about-block-link
								.button.ember More Info
				.col-sm-6.col-md-4.no-float
					a.about-block(data-fn="beverages")
						.about-block-header
							h2 BEVERAGES
							img.img-responsive(src="/img/block-drinks.jpg")
						.about-block-body
							.about-block-content
								| Offering a signature list of cocktails with characteristic Speakeasy Group flair, 50+ Champagnes from the world’s most renowned houses and an impressive back bar of whiskies, cognacs and world class spirits let our bartenders create you the perfect libation – whatever your imbibing preference.
							.about-block-link
								.button.ember More Info
				.col-sm-6.col-md-4.no-float
					a.about-block(data-scroll href="#events")
						//- a.about-block(data-featherlight="iframe" data-featherlight-iframe-height="850" data-featherlight-iframe-width="400" href="https://myguestlist.com.au/mgl/showForm.php?id=5b5e683db0d78")
						.about-block-header
							h2 EVENTS
							img.img-responsive(src="/img/block-events.jpg")
						.about-block-body
							.about-block-content
								| Join our dedicated events team in creating beautiful, luxury and bespoke event experiences for you and your guests. Perfect for large private celebrations, glamorous low key affairs, corporate soirees or special occasions. Enjoy one of our uniquely styled event spaces whilst hosting a truly unforgettable experience.
							.about-block-link
								.button.ember More Info