section#gallery-section.loading(data-name="gallery")
	.section-head-nav.gallery-container
		.section-header.gallery-header
			h1 Gallery
		#gallery-nav.section-nav.gallery-nav
			a.active(data-gallery="food") Food
			a(data-gallery="beverages") Beverages
			a(data-gallery="venue") Venue
	ul#gallery
		//Food
		li.gallery-page.full-width(data-gallery="food")
			.container
				.gallery-content
					.gallery-cage.row
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
		//Beverages
		li.gallery-page.full-width(data-gallery="beverages")
			.container
				.gallery-content
					.gallery-cage.row
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
		//Venue
		li.gallery-page.full-width(data-gallery="venue")
			.container
				.gallery-content
					.gallery-cage.row
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
						.gallery-thumb.col-xs-6.col-sm-3
							img.img-responsive(src="https://via.placeholder.com/480x480")
							a.gallery-link.embers(href="https://via.placeholder.com/1280x720")
	span.mobile-disclaimer.visible-xs
		| Swipe Left or Right to Navigate.