section#menu(data-name="menu")
	.section-head-nav.our-menu-container
		.section-header.our-menu-header
			h1 Our Menu
		#menu-gallery-nav.section-nav.our-menu-nav
			a(data-link="raw-bar" data-book-ref="RawBar").active Food
			a(data-link="cocktails" data-book-ref="Cocktails") Cocktails
			a(data-link="champagne" data-book-ref="Champagne") Champagne
			a(data-link="wine-beer" data-book-ref="WineBeer") Wine & Beer
			a(data-link="cigars" data-book-ref="Cigars") Cigars
	.our-menu-content
		img.loading-placeholder.img-responsive-vert(src='/img/front-cover.jpg')
		#menu-gallery
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-raw-bar-controls.book-controls
									#book-raw-bar-prev.prev-page
									#book-raw-bar-next.next-page
								#book-raw-bar.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-image='/pdf/parramatta/food/food-menu-page-1.jpg')
									.page(data-image='/pdf/parramatta/food/food-menu-page-2.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/parramatta/food/food-menu.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-cocktails-controls.book-controls
									#book-cocktails-prev.prev-page
									#book-cocktails-next.next-page
								#book-cocktails.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-1.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-2.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-3.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-4.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-5.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-6.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-7.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-8.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-9.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-10.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-11.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-12.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-13.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-14.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-15.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-16.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-17.jpg')
									.page(data-double="true" data-image='/pdf/parramatta/cocktails/cocktails-page-18.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/parramatta/cocktails-menu.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-champagne-controls.book-controls
									#book-champagne-prev.prev-page
									#book-champagne-next.next-page
								#book-champagne.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/champagne/champagne-page-1.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/champagne/champagne-page-2.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/champagne/champagne-page-3.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/champagne/champagne-page-4.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/champagne/champagne-page-5.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/champagne/champagne-page-1.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/parramatta/champagne-menu.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-wine-beer-controls.book-controls
									#book-wine-beer-prev.prev-page
									#book-wine-beer-next.next-page
								#book-wine-beer.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/wine-beer/wine-beer-page-1.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/wine-beer/wine-beer-page-2.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/wine-beer/wine-beer-page-3.jpg')
									.page(data-double="false" data-image='/pdf/parramatta/wine-beer/wine-beer-page-1.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/parramatta/WineBeer-menu.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-cigars-controls.book-controls
									#book-cigars-prev.prev-page
									#book-cigars-next.next-page
								#book-cigars.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-image='/pdf/parramatta/cigars-menu/cigars-page-1.jpg')
									.page(data-image='/pdf/parramatta/cigars-menu/cigars-page-2.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/parramatta/cigars-menu.pdf" target="_blank") View as PDF
	.our-menu-display
		strong(style="font-size:18px; color:white;") * Example menu only
	.container-wallpaper
