extends /layout

block content
	section.common-header.thank-you
		.common-section-head
			h1 Thanks!
				small we'll get back to you shortly!
	include /section-contact
	include /section-map
	span.credit-link
		| Website by 
		a(href="https://collectiveus.com/") CollectiveUs
			
block foot-scripts
	script(src='/vendors/smooth-scroll-to/smooth-scroll-to.js')
	script(src='/vendors/jquery.lightslider/lightslider.js')
	script(src='/vendors/wow-book/wow-book.min.js')
	script(src='/vendors/myguestlist.min.js')
	script(src="https://d2x5h3n6mzrmz3.cloudfront.net/mgl/lib/forms/jqueryUI.js" id="MGLIncludeJqueryUI" type="text/javascript")
block page-scripts
	script(src='/js/scripts.js')
