.heading-container {
    height: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url('/img/menu-bg.jpg');
}

.heading-container h1 {
    color: #fff;
    margin: 0 auto;
}

.faq-list {
    list-style: none;
    color: #fff;
    padding: 45px;
}

.faq-link {
    color: #ffd403;
}

.faq-link:hover {
    color: #F26419;
}