@font-face {
    font-family: 'gordonregular';
    src: url('../fonts/gordon-gordon.eot');
    src: url('../fonts/gordon-gordon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gordon-gordon.woff2') format('woff2'),
         url('../fonts/gordon-gordon.woff') format('woff'),
         url('../fonts/gordon-gordon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Crowdfunding banner */
.crowdfunding-banner {
	margin-top: 30px;
    margin-bottom:30px; 
}
.crowdfunding-banner img {
    width:100%;
}

body.core-ready section[data-name="landing"],
body.core-ready .float-nav {
	-webkit-animation: fadein 0.75s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.75s;
	/* Firefox < 16 */
	-ms-animation: fadein 0.75s;
	/* Internet Explorer */
	-o-animation: fadein 0.75s;
	/* Opera < 12.1 */
	animation: fadein 0.75s;
}

.section-header .icon {
	font-size: 42px;
	padding: 10px 0;
}

section.loading:after,
#global-page-loader {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(3, 3, 3) url(../img/loading.gif) no-repeat center center;
	z-index: 100;
}

body.core-ready #global-page-loader {
	display: none;
}

body,
html {
	margin: 0;
	min-height: 100%;
}

body {
	background-color: #151515;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5 {
	font-family: 'gordonregular';
}

a {
	-webkit-transition: color 0.25s;
	-moz-transition: color 0.25s;
	-ms-transition: color 0.25s;
	transition: color 0.25s;
	cursor: pointer;
}

section {
	overflow: hidden;
}

section.full-page,
section.three-quarter-page {
	max-width: 100%;
	position: relative;
	overflow: hidden;
}

section>div {
	z-index: 1;
}

.img-responsive-vert {
	display: block;
	max-height: 100%;
	width: auto;
}

.container-wallpaper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover !important;
	background-position: center center !important;
	z-index: -1;
}

#sticky-wrapper {
	position: relative;
	top: -50px;
	/* height: 0 !important; */
	z-index: 100;
}

nav.float-nav {
	background: rgba(0, 0, 0, 0.75);
	height: 50px;
}

nav.float-nav .navigation {
	display: flex;
	height: 100%;
	font-size: 14px;
	letter-spacing: 1px;
	    text-transform: none;
	-webkit-font-smoothing: antialiased;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
	position: relative;
}

.location-label {
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.location-option {
	opacity: 0;
	line-height: 17px;
	transition-property: background-color, opacity;
	transition-duration: 0.25s;
	position: relative;
}

.location-option a {
	transition: all 0.25s;
	display: block;
	color: #fff;
	text-decoration: none;
}

.location-option.active {
	opacity: 1;
}

.hover-location:hover .location-option {
	opacity: 1;
	line-height: 32px;
	background: rgba(0, 0, 0, 0.75);
}

.hover-location:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	top: 7px;
	left: 50%;
	position: absolute;
	margin-left: -5px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
}

.sticky-wrapper:not(.is-sticky) .hover-location:before {
	opacity: 1;
}

.hover-location:hover .location-option.active {
	margin-top: 16px;
	text-decoration: underline;
}

.location-option a:hover {
	background: #fff;
	color: #151515;
	text-decoration: none;
}

.location-option a:hover span {
	color: #fff;
}

.location-option a span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 12px;
	font-size: 10px;
	color: #ffd403;
}

nav.float-nav .navigation .menu-left {
	float: left;
	/*-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
	pointer-events: none;*/
	position: absolute;
	left:0;
}

.sticky-wrapper:not(.is-sticky) .location-label {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	bottom: 12px;
}

.sticky-wrapper:not(.is-sticky) .hover-location:hover .location-option {}

.sticky-wrapper:not(.is-sticky) .hover-location:hover .location-option.active {
	margin-top: 0;
}

/*nav.float-nav .navigation .menu-logo {
	height: 50px;
	display: flex;
	align-items: center;
	width: 151px;
}*/

nav.float-nav .navigation .menu-logo {
	height: 26px;
	margin-top: -10px;
	display: flex;
	align-items: center;
	padding-bottom: 2px;
	-webkit-transition-property: opacity, margin;
	-moz-transition-property: opacity, margin;
	-ms-transition-property: opacity, margin;
	transition-property: opacity, margin;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
	opacity: 0;
	width: 100px;
}

.sticky-wrapper.is-sticky nav.float-nav .navigation .menu-left {
	opacity: 1;
	pointer-events: all;
}

/* .sticky-wrapper.is-sticky nav.float-nav .navigation .menu-logo {
	opacity: 1;
	margin-top: 8px;
} */

nav.float-nav .navigation .menu-main {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
	height: 100%;
	position: absolute;
}

nav.float-nav .navigation li {
	display: flex;
	align-items: center;
	height: 100%;
	text-transform: uppercase;
}

nav.float-nav .navigation .menu-main a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.95);
	font-family: 'gordonregular';
	padding: 10px 2px;
	margin: 0 5px;
}

nav.float-nav .navigation .menu-main a:hover,
nav.float-nav .navigation .menu-main a:active,
nav.float-nav .navigation .menu-main a.active {
	color: #ffd403;
}

.contact-social-links a {
	color: #ffd403;
	margin-top: 15px;
	display: block;
}

nav.float-nav .navigation .make-a-booking {
	background-color: #ffd403;
	text-decoration: none;
	color: #151515;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: auto;
	cursor: pointer;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	transition: background-color 0.25s;
	margin-top: 1px;
}

.make-a-booking {
	background-color: #ffd403;
	text-decoration: none;
	color: #151515;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: auto;
	cursor: pointer;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	transition: background-color 0.25s;
	margin-top: 1px;
}

.make-a-booking:hover {
	background-color: #fff;
	text-decoration: none;
	color: #151515;
}

.coming-soon a {
	margin: 0 33%;
}

/* @media (min-width: 992px) { */
	nav.float-nav .navigation .make-a-booking {
		margin-right: 10px;
	}
/* } */

nav.float-nav .navigation .gift-vouchers {
	color: #ffd403;
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #ffd403;
	text-decoration: none;
	padding: 4px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: auto;
	cursor: pointer;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

nav.float-nav .navigation .make-a-booking:hover,
nav.float-nav .navigation .make-a-booking:active {
	background-color: #fff;
}

.open-times-footer p{
	font-size: 14px;
	color: #a9a7a7;
	margin-top: 15px;
}

.bookings-disclaimer-terms {
	font-size: 12px;
	color: #a9a7a7;
}

#bookings-pop {
	display: none;
}

nav.float-nav .navigation .menu-right {
	float: right;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
}

.section-head-nav {
	background: rgba(0, 0, 0, 0.4);
	padding: 30px 0;
}

.section-header h1 {
	font-family: 'gordonregular';
	    text-transform: none;
	text-align: center;
	color: #fff;
	margin: 0;
}

.section-nav {
	text-align: center;
}

.section-nav a {
	display: inline-block;
	color: #fff;
	padding: 10px;
	font-size: 16px;
}

.section-nav a.active {
	color: #ffd403;
	text-decoration: none;
	cursor: default;
}

.section-nav a.clicked {
	color: rgba(255, 255, 255, 0.25) !important;
	text-decoration: none;
	cursor: wait;
}

section[data-name="landing"] {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.nav-spacer {
    height: 0;
    margin-top: -1px;
}

.intro-video {
	position: relative;
	height: 100%;
}

.intro-video video {
	background-size: cover;
	height: 100%;
	width: 177.77777778vh;
	min-width: 100%;
	min-height: 56.25vw;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.logo-player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo-player .logo-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.logo-player .logo-image {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.logo-player .logo-links {
	display: flex;
	justify-content: space-between;
}

.logo-player .logo-links a {
	font-family: 'gordonregular';
	font-size: 24px;
	color: #fff;
}

.logo-player .logo-links a:hover {
	color: #ffd403;
	text-decoration: none;
}

section[data-name="about"] {
	text-align: center;
	color: #f0f0f0;
}

.about-bg-container-nnm {
	background: url(/img/about-bg-nnm.jpg) no-repeat top center;
	background-size: cover;
	margin-top: -50px;
}

.about-bg-container {
	background: url(/img/about-bg.jpg) no-repeat top center;
	background-size: cover;
	margin-top: -50px;
}

.about-container {
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0 15px;
	background: rgba(0,0,0,0.85);
	border-radius: 15px;
}

.about-header h1 {
	font-family: 'gordonregular';
	    text-transform: none;
}

.about-logo-cage {
	max-width: 200px;
	margin: 0 auto;
}

.about-content {
	margin: 0 0 30px 0;
}

.about-content p {
	color: #e4e4e4;
}

.about-content p.quote-text {
	color: #ffd403;
}


section[data-name="about-detail"] {
	padding-bottom: 90px;
}

.about-block {
	display: block;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.75);
	color: #ececec;
	height: 100%;
	text-align: center;
	box-shadow: 0 5px 25px #000;
	overflow: hidden;
	margin-bottom: 15px;
	position: relative;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.about-block:hover,
.about-block:focus {
	color: #ececec;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.15);
}

.about-block-header {
	display: block;
	background-size: cover;
	position: relative;
}

.about-block-header h2 {
	margin: 0;
	font-size: 50px;
	font-family: 'gordonregular';
	position: absolute;
	width: 100%;
	line-height: 100px;
	z-index: 10;
	top: 50%;
	margin-top: -50px;
}

/* #nye-parramatta h2 {

}
#nye-melbourne h2 {
	
} */

.about-block-header img {
	margin: 0 auto;
}

.about-block-body {
	padding: 30px 15px;
}

.about-block-content {
	font-size: 14px;
	line-height: 22px;
	min-height: 110px;
}

.about-block-link .button {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	    text-transform: none;
	padding: 4px 18px;
	display: inline-block;
	background: transparent;
	color: #ffd403;
	border: 2px solid #ffd403;
	border-radius: 5px;
	margin-top: 15px;
}

section[data-name="footer"] {
	background: #161513;
}

.embers {
	position: relative;
	overflow: hidden;
}

.embers .ember-spark {
	cursor: pointer;
	position: absolute;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	background: #ffd403 no-repeat center center;
	background-size: contain;
	-webkit-animation: ripple-animation 0.75s forwards;
	-moz-animation: ripple-animation 0.75s forwards;
	-ms-animation: ripple-animation 0.75s forwards;
	animation: ripple-animation 0.75s forwards;
}

@keyframes ripple-animation {
	from {
		transform: scale(0.5);
		opacity: 0.4;
	}
	to {
		transform: scale(25);
		opacity: 0;
	}
}

section[data-name="whats-on"] {
	padding: 0 0 30px 0;
	position: relative;
}

section[data-name="whats-on"] .container-wallpaper {
	/* background: url(/img/menu-section-background.jpg) no-repeat center center; */
	background-attachment: fixed;
}

section[data-name="whats-on"] .fb-container {
	min-height: 244px;
	margin-top: 90px;
}

#events-feed {
	padding-top: 30px;
}

.event-feed-item,
.event-feed-item:hover,
.event-feed-item:active,
.event-feed-item:focus {
	color: #f0f0f0;
	text-decoration: none;
	display: block;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.event-content {
	padding: 15px;
	background: url(/img/wood-texture.jpg);
	background-size: cover;
	text-align: center;
	border-top: 2px solid #ffd403;
}

.event-feed-item h2 {
	color: #ffd403;
	margin: 0;
	font-size: 18px;
	float: left;
}

.event-feed-item h3 {
	float: right;
	font-size: 14px;
	margin: 0;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.5);
}

.event-feed-item p {
	clear: both;
	font-size: 14px;
	margin: 15px 0 0;
	text-align: left;
	padding-top: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.event-feed-item img {
	clear: both;
}

section[data-name="bookings"] {
	padding: 90px 0;
	/* background: url(/img/fire-loop.gif) no-repeat top center; */
	background-size: cover;
}

section[data-name="bookings"] .row {}

.contact-times {
	position: relative;
	padding: 5px 15px 5px 15px;
	background: url(/img/opt-background.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 100%;
}

.contact-container {
	margin: 30px 15px;
	position: relative;
	border: 1px dashed rgba(249, 218, 107, 0.25);
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.contact-container h1 {
	color: #ffd403;
	margin: 30px 0 15px 0;
}

.contact-container h1 small {
	    text-transform: none;
	display: block;
	color: #fff;
}

.contact-container .open-times {
	padding: 15px 0;
	list-style: none;
	margin: 0 15px 15px 15px;
	line-height: 2em;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	font-size: 16px;
}

.open-times-footer {
	padding: 0 30px;
}

.open-times-footer h2 {
	color: #fff;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 5px;
	margin-top: 0;
}

.open-times-footer li {
	color: #d5d5d5;
	list-style: none;
}

.open-times-footer li span {
	color: #ffd403;
}

.contact-container .contact-phone {
	color: #ffd403;
	font-size: 22px;
	margin-bottom: 30px;
}

.contact-bookings {
	display: flex;
	background: rgba(255, 255, 255, 0.95);
	color: #151515;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.bookings-form h1 {
	letter-spacing: 4px;
	    text-transform: none;
	margin: 0 0 30px;
}

.bookings-form label {
	position: relative;
	margin-bottom: 15px;
}

.bookings-form label input {
	font-weight: normal;
	margin: 0;
	-webkit-appearance: none;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
	line-height: 40px;
	padding: 0 10px;
	font-size: 15px;
	background: transparent;
	border-radius: 2px;
}

.bookings-form label input:active,
.bookings-form label input:focus {
	background: #fff;
	color: #151515;
	border-color: #151515;
	outline-color: transparent;
	outline-style: none;
}

input:active, input:focus,
select:active, select:focus,
textarea:active, textarea:focus {
	outline: none;
}

.bookings-form label input.error {
	color: red;
}

.bookings-form .button {
	background-color: #ffd403;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	    text-transform: none;
	font-weight: bold;
	-webkit-font-smoothing: auto;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

.social-links {
	margin-bottom: 15px;
}

.social-links a {
	display: inline-block;
	margin: 0 10px;
	color: #ffd403;
}

section[data-name="menu"].nnm  {
	background: #000 url(/img/menu-bg-nnm.jpg) no-repeat center center;
	background-size: cover;
}

section[data-name="menu"] {
	background: #000 url(/img/menu-bg.jpg) no-repeat center center;
	background-size: cover;
}

.featherlight-form {
	background-color:rgb(3,3,3)
}

.mb-3 {
	margin-bottom: 15px;
}

section[data-name="menu"],
section[data-name="events"] {
	position: relative;
	overflow: hidden;
}

section[data-name="events"].nnm {
	background: url(/img/events-bg-nnm.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 30px;
}
section[data-name="events"] {
	background: url(/img/events-bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 30px;
}

section[data-name="menu"] .lSSlideOuter,
section[data-name="events"] .lSSlideOuter {
	position: relative;
}

section[data-name="menu"] .container-wallpaper {
	/* background: url(/img/fire-loop.gif) no-repeat center center; */
}

section[data-name="events"] .container-wallpaper {
	/* background: url(/img/wood-texture.jpg) no-repeat center center; */
}

.pdf-button-link.button {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	    text-transform: none;
	text-align: center;
	padding: 10px 20px;
	display: block;
	background: transparent;
	color: #ffd403;
	border: 2px solid #ffd403;
	border-radius: 5px;
}

.pdf-button-link.button:focus {
	outline: none;
}

.our-menu-content {
	padding: 30px 0 0;
	color: #151515;
}

.our-menu-display {
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	padding: 15px 0 60px 0;
	font-size: 16px;
	font-weight: 700;
}

.our-menu-content .page {
	float: left;
	width: 50%;
}

.our-menu-content .page.half {
	width: 50%;
}

.book-controls {
	display: none;
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0;
}

.book-controls .prev-page,
.book-controls .next-page {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.wowbook-mobile+.book-controls .prev-page,
.wowbook-mobile+.book-controls .next-page {
	margin-top: -80px;
}

.lslide.active .book-controls {
	display: block;
}

.book-controls .prev-page {
	right: 100%;
	background-image: url(/img/nav-left.png);
}

.book-controls .next-page {
	left: 100%;
	background-image: url(/img/nav-right.png);
}

.book-controls .prev-page.wowbook-disabled,
.book-controls .next-page.wowbook-disabled {
	display: none;
}

.book-controls .prev-page,
.book-controls .next-page {
	border-radius: 50%;
	transition: background-color 0.25s;
}

.book-controls .prev-page:hover,
.book-controls .next-page:hover {
	background-color: rgba(0,0,0,0.5);
}

.lslide.active {}

section[data-name="gallery"] {
	background: #000;
	text-align: center;
	padding-bottom: 60px;
}

#menu-gallery {
	height: 650px;
}

.lSAction {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -15px;
}

.lSAction .lSPrev {
	background-image: url(/img/nav-left.png);
	left: 15px;
}

.lSAction .lSNext {
	background-image: url(/img/nav-right.png);
	right: 15px;
}

.lSAction .lSPrev,
.lSAction .lSNext {
	width: 80px;
	height: 100px;
	background-position: center center;
	margin-top: -35px;
	background-size: contain;
	background-repeat: no-repeat;
}

section[data-name="gallery"] .lSSlideOuter {
	position: relative;
}

.gallery-page {
	position: relative;
}

.gallery-link {
	position: absolute;
	display: block;
	bottom: 0;
	top: 0;
	height: auto;
	width: auto;
	left: 0;
	right: 0;
	margin: 0 15px;
}

.gallery-link:before,
.gallery-link:after {
	display: none;
}

.gallery-thumb {
	/* margin-bottom: 30px; */
	position: relative;
}

.gallery-thumb:active .gallery-link:before,
.gallery-thumb:active .gallery-link:after,
.gallery-link:active:before,
.gallery-link:active:after {
	display: block;
	cursor: pointer;
	-webkit-animation: fadein 0.75s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.75s;
	/* Firefox < 16 */
	-ms-animation: fadein 0.75s;
	/* Internet Explorer */
	-o-animation: fadein 0.75s;
	/* Opera < 12.1 */
	animation: fadein 0.75s;
}

@media (min-width: 768px) {
	.gallery-thumb:hover .gallery-link:before,
	.gallery-thumb:hover .gallery-link:after {
		display: block;
		cursor: pointer;
		-webkit-animation: fadein 0.75s;
		/* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 0.75s;
		/* Firefox < 16 */
		-ms-animation: fadein 0.75s;
		/* Internet Explorer */
		-o-animation: fadein 0.75s;
		/* Opera < 12.1 */
		animation: fadein 0.75s;
	}
}

/* .gallery-thumb:active .gallery-link:before,
.gallery-thumb:active .gallery-link:after {
	display: none;
} */

.merch-container:hover + .gallery-link:before,
.merch-container:hover + .gallery-link:after {
	display: none;
}

.gallery-link:before {
	content: '';
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: auto;
	border: 2px solid #ffd403;
	border-radius: 3px;
}

.gallery-link:after {
	content: "\e98b";
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 0;
	right: 0;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	width: auto;
	font-family: 'web-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #ffd403;
	text-shadow: 0 1px 10px #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gallery-button-link.button {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	    text-transform: none;
	padding: 10px 20px;
	display: block;
	background: transparent;
	color: #ffd403;
	border: 2px solid #ffd403;
	border-radius: 5px;
}

.rooms-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gallery-slide {
	padding-top: 300px;
}

.gallery-inner-slide,
.gallery-slide {
	background-size: cover;
	background-position: top center;
}

section[data-name="venue"] .lSSlideOuter {
	top: 0;
	left: 0;
}

section[data-name="venue"] .section-head-nav {
	position: relative;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
}

.gallery-slide-information {
	position: relative;
	background: url(/img/opt-background.jpg) no-repeat center center;
	background-size: cover;
	border-radius: 2px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.gallery-slide-container {
	margin: 0 15px;
	position: relative;
	border: 1px dashed rgba(249, 218, 107, 0.25);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	padding: 30px;
	color: #fff;
}

.gallery-slide-information h2 {
	    text-transform: none;
	color: #ffd403;
	margin: 0 0 20px 0;
	text-align: center;
	border-bottom: 1px solid;
	padding-bottom: 15px;
}

/*************************
*** MASTERCLASS STYLES ***
*************************/
section[data-name="masterclasses"] {
	
}

ul#gallery-masterclasses {
	padding:0;
	margin:0; 
}

.masterclass-blurb {
	padding: 30px;
	text-align: center;
	color: #fff;
}

.masterclass-body {
	padding: 30px;
	background: rgba(0, 0, 0, 0.9);
	color: #f0f0f0;
	margin: 30px 0;
}

.masterclass-list {
	padding: 15px;
}

.masterclass-list ul {
	padding: 0;
	margin: 0;
}

.masterclass-list li {
	list-style-type: none;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	font-family: 'Andada', serif;
}

.masterclass-block {
	display: block;
	height: 400px;
	background: rgba(255, 255, 255, 0.1);
	background-size:cover;
	margin:15px 0;
	color: #ececec;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	-webkit-transition: background-size 0.5s, background-position 0.5s, -webkit-transform 0.75s;
	-moz-transition: background-size 0.5s, background-position 0.5s, -moz-transform 0.75s;
	-ms-transition: background-size 0.5s, background-position 0.5s, -ms-transform 0.75s;
	transition: background-size 0.5s, background-position 0.5s, transform 0.75s;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.masterclass-block .frill {
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
}

.masterclass-block:hover .frill {
	opacity: 1;
}

.masterclass-block:hover .masterclass-block-content {
	border: 2px solid #ffd403;
	z-index: 50;
}

.masterclass-block-content .button {
	width:50%;
	position:absolute;
	bottom:45px;
	left:0;
	right:0;
	margin:0 auto;
}

#whisky-masterclass{
	background-image: url('../img/masterclass/whisky-block.jpg');
}

#martini-masterclass {
	background-image: url('../img/masterclass/martini-block.jpg');
}

#cocktail-masterclass {
	background-image: url('../img/masterclass/cocktail-block.jpg');
}

.masterclass-block:hover,
.masterclass-block:focus {
	color: #ececec;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.15);
}

.masterclass-subtitle {
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	font-family: inherit;
	-webkit-transition: padding-top 0.5s, opacity 0.5s;
	-moz-transition: padding-top 0.5s, opacity 0.5s;
	-ms-transition: padding-top 0.5s, opacity 0.5s;
	transition: padding-top 0.5s, opacity 0.5s;
	padding: 20px 0 0 0;
	opacity: 1;
}

.masterclass-block-header {
	display: block;
	background-size: cover;
	position: relative;
	padding-top: 100px;
	-webkit-transition: padding-top 0.5s;
	-moz-transition: padding-top 0.5s;
	-ms-transition: padding-top 0.5s;
	transition: padding-top 0.5s;
}

.masterclass-block-header h2 {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 10px;
}

.masterclass-block-header h2 small {
	display: block;
	color: #fff;
}

.masterclass-block-body {
	opacity: 0;
	padding: 50% 30px 0 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	color: #ffd403;
	transition-property: opacity, padding;
	transition-duration: 0.25s;
	transition-delay: 0s 0.10s;
}

.masterclass-row {
	margin: 0;
	padding: 30px 15px 0 15px;
}

.masterclass-row .masterclass-col {
	margin: 0;
}

#masterclass .section-head-nav {
	margin-bottom: 0;
}

section[data-name="masterclass"] {
	padding-bottom: 0;
}

.masterclass-enquiry-button-container {
	text-align:center;
	padding:30px 15px;
}

.masterclass-enquiry-button-container .button {
	width:auto;
}

.masterclass-subtitle {
	opacity: 0;
	line-height: 2rem;
	font-size: 1.5rem;
	margin-top: -50px;
}

.masterclass-block:hover .masterclass-subtitle,
.masterclass-subtitle:hover {
	padding: 15% 30px 0 30px;
	opacity: 1;
}
.masterclass-block:hover .masterclass-block-header {
	opacity: 0;
	padding-top: 0;
	margin-top: -100px;
}

.masterclass-block:hover .masterclass-block-header h2 {
padding-top: 30%;
}

.masterclass-block-content {
	position:relative;
	border: 2px solid transparent;
	background: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	font-family: inherit;
	-webkit-transition: border-color 0.5s;
	-moz-transition: border-color 0.5s;
	-ms-transition: border-color 0.5s;
	transition: border-color 0.5s;
	display: block;
	height: 100%;
}

.masterclass-block-link {
	-webkit-transition: opacity 0.75s;
	-moz-transition: opacity 0.75s;
	-ms-transition: opacity 0.75s;
	transition: opacity 0.75s;
	opacity: 0;
	position: absolute;
	top: 0;
	padding-top: 15px;
	width: 100%;
}

.masterclass-block-link .button {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 4px 18px;
	display: inline-block;
	background: transparent;
	color: #f3efe4;
	border: 2px solid #f3efe4;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	-moz-transition: background-color 0.25s, border-color 0.25s;
	-ms-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;
	margin-top: 15px;
}

.masterclass-block-body .button:hover {
	background-color: #a291c3;
	border-color: transparent;
}
/*************************
***** CONTACT STYLES *****
*************************/
section[data-name="contact"] {
	background: url(/img/contact-bg.jpg) no-repeat bottom left;
	background-attachment: fixed;
	background-size: cover;
}

section[data-name="contact"] .section-head-nav {
	background: none;
}

.contact-bg {
	background: rgba(0, 0, 0, 0.5);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.contact-detail-container {
	text-align: center;
    margin: 30px 0 15px 0;
    padding: 30px 30px 0 30px;
}

.contact-logo {
	padding: 0;
	max-width: 200px;
	margin: 0 auto;
}

.contact-details {
	padding: 15px 0;
	margin: 0;
	list-style: none;
}

.contact-details li {
	color: #d5d5d5;
	line-height: 20px;
}

.contact-details li a {
	color: #ffd403;
	margin-left: 5px;
	text-decoration: none;
}

.contact-details li a:hover {
	text-decoration: underline;
}

.contact-social {
	margin-top: 15px;
	border-top: 2px solid rgba(255, 255, 255, 0.1);
	padding: 15px 0;
}

.contact-social li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}

.contact-social a {
	background: #ffd403;
	line-height: 28px;
	height: 24px;
	width: 24px;
	text-align: center;
	display: block;
	border-radius: 50%;
}

.contact-social a:hover {
	text-decoration: none;
	color: #fff;
}

.contact-social a .icon {
	color: #151515;
}

.contact-redirect {
	margin: 30px 0;
	padding: 30px 0;
}

.contact-redirect>p {
	color: #ffd403;
	padding: 0 30px;
}

.contact-redirect>a {
	text-align: center;
	margin: 10px 30px;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
	    text-transform: none;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ffd403;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

.contact-redirect>a:hover {
	background-color: #fff;
}

.contact-redirect .walk-ins {
	color: rgba(255, 255, 255, 0.5);
}

.contact-form {
	padding: 15px 15px 30px 15px;
	text-align: center;
}

.form-info {
	color: #ffd403;
	margin: 0 auto;
	padding: 0 30px;
}

.contact-form-heading {
	color: #ffd403;
	padding: 0 30px;
    text-align: center;
    font-size: 24px;
}

.contact-form .form-group {
	margin: 0 0 10px 0;
	text-align: left;
}

.contact-form .form-group>span {
	color: #757575;
	font-family: 'gordonregular';
	font-weight: bold;
	font-size: 12px;
}

.form-group button:focus,
.form-group button:active {
	outline: none;
}

#newsletterFormButton.ready {
	color: #ffd403;
	background-color: transparent;
	background-image: none;
	border: 2px solid #ffd403;
}

.enquiry-row div {
	margin: 15px 0;
}

.enquiry-row button {
	margin: 0 auto;
}

#enquiryFormButton.ready {
	color: #ffd403;
	background-color: transparent;
	background-image: none;
	border: 2px solid #ffd403;
}

.contact-form .form-input {
	display: block;
	width: 100%;
	height: 32px;
    padding: 0 6px;
    line-height: 32px;
    font-size: 12px;
	color: #ffd403;
	background-color: transparent;
	background-image: none;
	border: 2px solid #ffd403;
	border-radius: 2px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-ms-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

.contact-form textarea.form-input {
	height: auto;
	min-height: 150px;
	resize: none;
}

.contact-form .form-input:focus,
.contact-form .form-input:active {
	background-color: rgba(255, 255, 255, 0.25);
}

.contact-form .button {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	    text-transform: none;
	padding: 10px 20px;
	display: inline-block;
	background: transparent;
	color: #ffd403;
	border: 2px solid #ffd403;
	border-radius: 5px;
	cursor: default;
}

.contact-form .button .ember-spark {
	background-color: #757575;
}

.contact-form.ready .button {
	color: #ffd403;
	border-color: #ffd403;
	cursor: pointer;
}

.contact-form.ready .button .ember-spark {
	background-color: #ffd403;
}

.contact-form label.input-label {
	display: block;
	text-align: left;
}

.contact-form label.input-label span {
	color: #757575;
	font-size: 12px;
	margin-bottom: 5px;
	display: block;
}

.contact-form label.checkbox-label {
	font-size: 12px;
	color: #ffd403;
}

.contact-form label.checkbox-label input {
	margin-right: 10px;
}

section#map-image {
	position: relative;
	height: 320px;
}

.map-melbourne {
	background: url(/img/map-melbourne.jpg) no-repeat center center;
	height: 320px;
}

.map-sydney {
	background: url(/img/map-sydney.jpg) no-repeat center center;
	height: 320px;
}

.map-link {
	position: absolute;
	width: 100%;
	height: 100%;
}

.MGLSuccessMessage {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 250px;
	background: rgba(255, 255, 255, 0.95);
	border-radius: 3px;
	text-align: center;
	margin: -125px 0 0 -175px;
	z-index: 999;
	padding: 0 30px;
}

.MGLSuccessMessage h1 {
	margin-top: 58px;
	margin-bottom: 0;
	line-height: 28px;
}

#map {
	height: 100%;
}

.bookings-col {
	height: auto;
}

.featherlight .bookings-pop-content {
	display: flex;
	align-items: center;
	background: #000;
	flex-direction: column;
}

.featherlight .bookings-pop-content:after {
	content: '';
	display: block;
	clear: both;
}

.loading-background {
	background: #000 url(../img/loading.gif) no-repeat center center;
}

.featherlight .bookings-pop-content iframe {
	margin: 20px 0 10px 0;
}

.featherlight .bookings-pop-content .split .booking-disclaimer {
	text-align: center;
	width: 310px;
}

.featherlight .bookings-pop-content .bookings-disclaimer {
	color: #f0f0f0;
}

.featherlight .bookings-pop-content .split .booking-disclaimer .content-box {
	color: #ffd403;
	margin: 0 0 0 30px;
	padding: 15px 0;
	border-radius: 4px;
}

.featherlight .bookings-pop-content .split .booking-disclaimer .content-box h1 {
	margin-top: 0;
}

.featherlight .fb-page.featherlight-inner iframe {
	margin: 0;
}

#facebook-feed {
	display: none;
}

@media (max-width: 640px) {
	.logo-player .logo-links a {
		font-size: 22px;
	}
}

@media (max-width: 500px) {
	.logo-player .logo-links a {
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	section[data-name="about-detail"] {
		padding-bottom: 5px;
	}
	section[data-name="bookings"] {
		background: #000;
		padding: 20px 0;
	}
	.gallery-content {
		padding: 30px 0 0;
	}
	#gallery-section .lSAction {
		display: none;
	}
	.contact-form {
		padding: 15px 30px 30px 30px;
	}
	.logo-player .logo-image {
		width: 80%;
	}
}

@media (max-width: 992px) {
	.bookings-form h1 {
		margin: 30px 0;
		font-size: 28px;
	}
	.bookings-disclaimer {
		font-size: 12px;
		margin: 0 30px;
	}
	.bookings-form label {
		width: 100%;
	}
	.bookings-form label input {
		width: 75%;
	}
	.bookings-disclaimer-terms {
		font-size: 10px;
		margin: 0 30px;
	}
	.bookings-form .button {
		margin: 15px;
	}
	.section-head-nav {
		padding: 15px 0 0 0;
	}
	.section-nav a {
		padding: 5px 10px;
		font-size: 14px
	}
	.our-menu-content {
		padding: 15px 0 0;
	}
	section[data-name="menu"] .container-wallpaper	{
		display: none;
	}
	.book-controls .prev-page {
		right: auto;
		left: 0;
	}
	.book-controls .next-page {
		left: auto;
		right: 0;
	}
	.wowbook-mobile+.book-controls {
		top: 0;
		height: 100%;
	}
	.book-controls .prev-page,
	.book-controls .next-page {
		top: 50%;
	}
}

#home {
	background: url(/img/video-preview-low.jpg) no-repeat center center;
	background-size: cover;
}

#home.melbourne {
	background-image: url(/img/video-preview-melbourne-low.jpg);
}

.mobile-nav-toggle {
	position: absolute;
	left: 0;
	height: 50px;
	width: 50px;
	top: 0;
	padding-top: 11px;
}

.bar-nav {
	height: 2px;
	border-radius: 2px;
	background: #fff;
	width: 25px;
	margin: 5px 12.5px 0 12.5px;
}

#book-events-controls {
	display: block;
	left: 15px;
	right: 15px;
	width: auto;
}

@media (max-width: 768px) {
	#home {
		max-height: 560px;
	}
	section[data-name="landing"]#home {
		max-height: none;
		background: none;
	}
	nav.float-nav .navigation .menu-main {
		display: none;
	}
	nav.float-nav .navigation .menu-left {
		float: none;
		width: 100px;
		margin: 0 auto;
		padding-top: 10px;
		padding-left: 1px;
	}
	nav.float-nav .navigation .menu-right {
		display: none;
	}
	body.sidr-open #sticky-wrapper .float-nav {
		position: fixed;
		top: 0px;
		z-index: inherit;
	}
	body.sidr-open #body-blocker {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.05);
		z-index: 99;
		display: block;
	}
	body.sidr-open .menu-left,
	body.sidr-open .menu-main,
	body.sidr-open .menu-right {
		pointer-events: none;
	}
	.about-header {
		padding: 5px 0 10px 0;
	}
	.about-content {
		margin-bottom: 15px;
	}
	.about-content.about-actions {
		padding-bottom: 15px;
	}
	.about-content.about-actions a {
		display: block;
	}
}

@media (min-width: 768px) {
	.bookings-col {}
	.wowbook-book-container {
		height: 415px;
	}
}

@media (min-width: 992px) {
	.bookings-col {
		height: 513px;
	}
	.wowbook-book-container {
		height: 543px;
	}
}

@media (min-width: 1200px) {
	.bookings-col {
		height: 513px;
	}
	.wowbook-book-container {
		height: 661px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.wowbook-mobile .wowbook-book-container {
	height: 480px !important;
	min-height: 480px !important;
}

#menu-content.sidr.left {}

#menu-content.sidr.left .sidr-inner li {
	list-style: none;
}

#menu-content.sidr.left .sidr-inner:first-child {
	margin-top: 15px;
}

#menu-content.sidr.left .sidr-inner:first-child li {}

#menu-content.sidr.left .sidr-inner:first-child li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.95);
	padding: 5px 10px;
	font-size: 1.25em;
	display: block;
}

#menu-content.sidr.left .sidr-inner:last-child {
	margin-top: 15px;
}

#menu-content.sidr.left .sidr-inner:last-child li {}

#menu-content.sidr.left .sidr-inner:last-child li a {
	color: #ffd403;
	text-decoration: none;
	border: 2px solid #ffd403;
	margin: 15px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	display: block;
}

.sidr {
	background: #000;
}

body.sidr-open {}

.common-section-head {
	text-align: center;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.common-section-head h1 {
	color: #ffd403;
}

.common-section-head h1 small {
	color: #fff;
	display: block;
}

.common-header {
	height: 450px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.common-page {
	background: #f0f0f0;
	padding: 60px 0;
}

.common-page dd {
	color: #333;
	font-size: 14px;
}

.common-page dt {
	margin-top: 15px;
	font-size: 16px;
}

body.force-sticky #sticky-wrapper {
	top: 0;
	height: auto !important;
}

/* body.force-sticky .sticky-wrapper nav.float-nav .navigation .menu-logo {
	opacity: 1;
	margin-top: 8px;
} */

.wowbook-loading .wowbook-page-content {
	background-color: #fff;
	background-image: url(../img/loading-book.gif);
}

.no-events-notifier {
	color: #ffd403;
	text-align: center;
	font-size: 24px;
	margin: 15px 0;
	padding: 0 30px;
}

.error {
	color: red;
}

.credit-link {
	text-align: center;
	display: block;
	font-size: 12px
}

.credit-link a {
	color: #555
}

.coming-soon {
	position: relative;
}

.coming-soon h2 {
	text-align: center;
	color: #ffd403;
	margin: 0;
}

.coming-soon h1 {
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: 24px;
}

.coming-soon small {
	font-size: 12px;
	text-align: center;
	display: block;
	color: #ffd403;
}

.logo-location {
	color: #fff;
	font-size: 26px;
	    text-transform: none;
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -127px;
	width: 254px;
}

.logo-location.small {
	bottom: 120px;
}

.coming-soon:hover {
	text-decoration: none;
}

.pop-label {
	text-align: center;
	padding: 15px 15px 0 15px;
	max-width: 320px;
}

.pop-label h2 {
	margin: 0;
	color: #ffd403;
	font-size: 24px;
}

.pop-label small {
	color: #fff;
	font-size: 12px;
	max-width: 250px;
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}

.landing-bg {
	background-image: url('/img/landing-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.landing-page {
	height: 180px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 50%;
	display: block;
	text-align: center;
	margin-top: -90px;
	overflow: visible;
}

.select-location {
	padding: 25px 0 0 0;
}

.location-logo {
	margin: 0 auto;
	width: 100%;
	max-width: 512px;
}

.landing-logo-outline {
	position: absolute;
	height: 250%;
	width: auto;
	top: -82%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	opacity: 0.6;
}

.select-location a {
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	    text-transform: none;
	text-align: center;
	padding: 8px 18px;
	display: inline-block;
	width: 120px;
	background: #ffd403;
	color: #000;
	border: 2px solid #ffd403;
	position: relative;
	border-radius: 5px;
	margin: 0 5px;
}

.select-location a span {
	position: absolute;
	top: 100%;
	width: 100px;
	color: #f0f0f0;
	background: #000;
	border-radius: 10px;
	left: 50%;
	letter-spacing: 0px;
	margin-top: -8px;
	margin-left: -50px;
}

#join-our-team-content {
	display: none;
	background: #fff;
}

#general-enquiry-content,
#event-enquiry-content,
#private-dining-enquiry-content {
	display: none;
}

.featherlight .featherlight-content #general-enquiry-content,
.featherlight .featherlight-content #event-enquiry-content,
.featherlight .featherlight-content #private-dining-enquiry-content {
	display: block;
}

.featherlight {
	z-index: 999;
	background:rgba(0, 0, 0, 0.7);
}

.featherlight .featherlight-content {
	min-height: 200px;
	min-width: 450px !important;
	max-width: 767px;
	width:60%;
	background: #000 url(../img/loading.gif) no-repeat center center;
	overflow-x: hidden;
}

.featherlight .featherlight-content .formButton[disabled="disabled"] {
	opacity: .35;
}

@media all { 
	.featherlight .featherlight-content {
		padding: 0;
		border: none;
		min-width: inherit;
	}
   
	.featherlight .featherlight-image {
		max-width: 100%;  
		border: 20px solid #fff;
	}
}
   
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		padding: 0;
		border: none;
	}
}

@media only screen and (min-width: 1800px) {
	section#map-image {
		background-size: cover;
	}
}

.featherlight-content #join-our-team-content {
	display: block;
}

.join-our-team {
	max-width: 640px;
	padding: 20px 40px;
	background: #fff;
}

.join-our-team h2 {
	text-align: center;
	margin-top: 0;
}

.join-our-team p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 30px;
}

.join-our-team p:last-child {
	margin-bottom: 0;
}

.join-team-button {
	border: 2px solid #000;
	color: #000;
	background-color: #fff;
	transition: color 0.25s, background-color 0.25s;
	-webkit-transition: color 0.25s, background-color 0.25s;
	-moz-transition: color 0.25s, background-color 0.25s;
	-ms-transition: color 0.25s, background-color 0.25s;
	-o-transition: color 0.25s, background-color 0.25s;
}

.join-team-button:hover {
	color: #fff;
	background-color: #000;
}

.join-team-section {
	margin-top: 15px;
	/* border-top: 2px solid rgba(255, 255, 255, 0.1); */
	padding: 15px 0 0 0;
}

.join-team-section .pdf-button-link.button {
	max-width: 200px;
	margin: 0 auto;
}

.social-divide {
	margin-top: 15px;
}

@media (max-width: 767px) {
	.section-events-header {
		padding-bottom: 15px;
		margin-bottom: 30px;
	}
	.select-location a {
		display: inline-block;
		width: auto;
		margin: 15px 5px;
	}
	.landing-page {
		padding: 0 15px;
	}
	/* .sticky-wrapper.is-sticky nav.float-nav .navigation .menu-logo {
		margin-top: -2px;
	}
	nav.float-nav .navigation .menu-logo {
		margin-top: -18px;
	} */
	.coming-soon h1 {
		margin: 5px 0 0 0;
		font-size: 19px;
	}
	.coming-soon h2 {
		line-height: 24px;
	}
	.logo-location {
		bottom: 80px;
	}
	.intro-video video {
		height: auto;
		width: 100%;
	}
	.featherlight .featherlight-content {
		width:80%;
		min-width:200px!important;
	}
}

/***************/
/* Box Shadows */
/***************/
.flex-grow-1.justify-content-center,
.bw-img {
	box-shadow: rgb(138, 138, 138) 1px 1px 5px 0px;
}

.merch-img{
	zoom: 10% !important;
}


.qty-minus{
	width: 10px;
	cursor: pointer;
}

.qty-value{
color: white;
width: 10px;
margin:0 5px;
}

.qty-plus{
	width: 10px;
	cursor: pointer;
}

.item-cost{
	display: none !important;
}

.qty-cost{
	display: none;
}

.qty-total {
	margin-right: 2.5rem;
	margin-left: 1rem;
	color: white;
	width: 3rem;
	font-size: 2rem;
	
}

.qty-label{
	text-align: center;
	font-size: 18px;
	color: #ffd403;
}

.qty-control{
	font-size: 2rem;
	display: flex;
	color: #ffd403;
	/* display: block;
	justify-content: center;
	align-items: center;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4); */
}
.merch-container
{

    text-align: center;
    display: flex;
    position: absolute;
    top: 100%;
    width: auto;
    left: 0;
    right: 0;
	padding: 0 15px;
	opacity: 1;
	height: 35px;
	overflow: hidden;
	justify-content: space-between;
}

.total {
	margin-right: 2.5rem;
	margin-left: 2.5rem;
	color: white;
	width: 2.5rem;
	font-size: 2rem;
}

body .stripe-button-el {
    background: #ffd403;
    text-decoration: none;
    color: #151515;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    -webkit-font-smoothing: auto;
    cursor: pointer;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    transition: background-color 0.25s;
    margin-top: 1px;
}

body .stripe-button-el :hover,
body .stripe-button-el :active
{
	/* background-color: #fff; */
}

body .stripe-button-el > span {
    background: none;
    padding: 0;
    text-shadow: none;
    box-shadow: none;
    padding: 0;
    color: #151515;
    border: none;
	border-radius: 0;
	font-family: 'gordonregular';
	font-size: 21px;
}

.merch-results .qty-label {
	display: inline-block
}

.merch-results .qty-total {
	display: inline-block
}
.merch-results .qty-total:before {
	content: "$"
}
.qty-wrapper {
	line-height: 40px;
	text-align: right
}
.merch-results {
	margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 30px;
}
.merch-results .stripe-button-el {
    display: block;
	width: 100%;
	outline: none;
}
#merchandise ul {
	margin: 0;
	padding: 0;
}

.now-open-banner {
	position: absolute;
    bottom: 130px;
    left: 50%;
    width: 320px;
    text-align: center;
    margin-left: -160px;
    margin-bottom: -25px;
    font-size: 32px;
    background: #ffd403;
    color: #151515;
    height: 50px;
    line-height: 46px;
    font-family: 'gordonregular';
    text-transform: none;
}

@media (max-width: 767px) {
	.now-open-banner {
		bottom: 100px;
	}
}

.xmas-hours {
	text-align: center;
	color: #fff;
	margin-top: 30px;
}

.xmas-hours-list {
	list-style: none;
	padding: 0;
}

.grecaptcha-badge {
	position: relative;
	margin-bottom: 15px;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;
}

.fb_iframe_widget span iframe button {
	padding: 20px 10px;
}

.opening-soon-content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 45px;
}

.opening-soon-content ul {
	padding: 0;
	text-align: center;
	text-shadow:1px 1px 5px #000;
	font-size: 16px;
}

.opening-soon-content li {
	color: white;
}

.opening-soon-content li a {
	color: #fff;
}

.opening-soon-content li a:hover {
	text-decoration: none;
	color: #ffd403;
}

.hasDatepicker{
	background-image: none !important;
}

/* Facebook img - Homepage */
.fb-img {
	width: 50%;
	height: auto;
	margin-top:5rem;
}

.fb-fade :hover{
	opacity: 0.8;
}

.bookings-text{
	color: #ffd403;
}

.about-content .book-now {
	padding:2rem 0;
}

.about-content .book-now a {
	padding:8px 20px;
} 

.social-icons {
	color: #ffd403;
	font-size: 16px;
	padding: 0 15px 0 0;
}

.social-icons:hover {
	color:#fff;
}

#mobile-menu-toggle.mobile-nav-toggle {
	display:none;
}

@media (max-width:1110px) {
	.menu-main {
		left:110px;
	}
}

@media (max-width:850px) {
	nav.float-nav .navigation .menu-main {
		display: none;
	}
	nav.float-nav .navigation .menu-right {
		display: none;
	}
	#mobile-menu-toggle.mobile-nav-toggle {
		display:block;
	}
	.menu-left.hover-location {
		margin-left:40px !important;
	}
}

.howtofind-thumb {
	width: 50%;
	height: auto;
	margin: auto;
}

.how-to-find-us {
	width: 100%;
	height: 100%;
}

.how-to-find-us-content {
	padding: 2em;
}

.how-to-find-us-content p,
.how-to-find-us-content h2{
	color: #fff;
}

.how-to-find-us-content p {
	font-size: 16px;
}
.how-to-find-us--desktop {
	display: none;
}

.how-to-find-us--mobile{
	display: block;
}

.how-to-find-us--mobile .how-to-find-us-content {
	background: rgba(0,0,0,0.85);
}

.how-to-find-us--mobile .heading-container{
	height: 250px;
}

.about-container a,
.how-to-find-us-about-link h2,
.how-to-find-us-content a,
.how-to-find-us--desktop a,
.how-to-find-us--mobile a{
	color: #ffd403;
}

/* Parramatta Book Now button */
a.make-a-booking,
.book-now .embers.make-a-booking {
	color: #000;
}

@media (min-width:576px){
	.how-to-find-us--mobile{
		display: none;
	}
	.how-to-find-us--desktop {
		display: block;
	}
}

/* Scroll behaviour all scroll-to links */
html {
	scroll-behavior: smooth !important;
}

.mc-slider.gallery-content {
	min-height: 450px;
}
#masterClassChampagne {
	background-image:url("/img/masterclass/slider/ChampagneMasterclass.jpg");
}
#masterClassWhisky {
	background-image:url("/img/masterclass/slider/WhiskyMasterclass.jpg");
}
#masterClassCognac {
	background-image:url("/img/masterclass/slider/CognacMasterclass.jpg");
}
#masterClassMartini {
	background-image:url("/img/masterclass/slider/MartiniMasterclass.jpg");
}
#masterClassCocktails {
	background-image:url("/img/masterclass/slider/CocktailMasterclass.jpg");
}

.gallery-cage{
	position: relative;
	min-height: 450px;
	max-width: 95%;
	margin: auto;
}


#masterClassSlider + .lSAction .lSPrev{
	margin-left: -10px;
	left:0;
}

#masterClassSlider + .lSAction .lSNext{
	margin-right: -10px;
	right: 0;
}

.padding-b {
	padding-bottom: 1.5rem;
}