doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=10')
        meta(http-equiv="cleartype" content="on")
        title #{( Page.hasOwnProperty('Title') ? Page.Title+' | '+Meta.Title : Meta.Title )}
        meta(name="description" content=(Page.hasOwnProperty('Description')?Page.Description:Meta.Description))
        meta(name="keywords" content=(Page.hasOwnProperty('Keywords')?Page.Keywords:Meta.Keywords))
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name='format-detection' content='telephone=no')
        meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='robots' content='all,follow')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.5.5/datepicker.css')
        link(href='//fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet')
        script(src='//cdn.ravenjs.com/3.13.1/raven.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src='/vendors/jquery.imgpreload.min.js')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet")
        link(rel='apple-touch-icon-precomposed' sizes='57x57"' href='/icons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon-precomposed' sizes='114x114' href='/icons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon-precomposed' sizes='72x72"' href='/icons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/icons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon-precomposed' sizes='60x60"' href='/icons/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon-precomposed' sizes='120x120' href='/icons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon-precomposed' sizes='76x76"' href='/icons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon-precomposed' sizes='152x152' href='/icons/apple-touch-icon-152x152.png')
        link(rel='icon' type='image/png' href='/icons/favicon-196x196.png' sizes='196x196')
        link(rel='icon' type='image/png' href='/icons/favicon-96x96.png' sizes='96x96')
        link(rel='icon' type='image/png' href='/icons/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='/icons/favicon-16x16.png' sizes='16x16')
        link(rel='icon' type='image/png' href='/icons/favicon-128.png' sizes='128x128')
        link(rel='stylesheet' href='/css/styles.css')
        link(rel='stylesheet' href='/css/faq.css')
        style(type="text/css").
            body {background:#101010}
            .sr .fooReveal{visibility: hidden}
            body.core-ready section, body.core-ready .float-nav { display:block; }
            .loading-placeholder { display:none; margin: 0 auto; }
            section.loading .loading-placeholder { display:block }
        script(type='text/javascript') window.scrollTo(0,0);
        block head-scripts
    body
        .heading-container
            h1 Frequently Asked Questions
        include menu-nav
        .faq-container.container
            .row
                ul.faq-list
                    li.faq-item 
                        h3.faq-question What are your hours?
                        ul.faq-answer 
                            li Monday: 
                                span 3pm - 1am
                            li Tuesday: 
                                span 3pm - 1am
                            li Wednesday: 
                                span 3pm - 1am
                            li Thursday: 
                                span 3pm - 1am
                            li Friday: 
                                span 12pm - 1am
                            li Saturday: 
                                span 2pm - 1am
                            li Sunday: 
                                span 2pm - 11pm
                    li.faq-item 
                        h3.faq-question How much time am I allocated with my booking?
                        p.faq-answer Reservation periods at Nick and Nora’s are for 2 hours. Should you wish to extend your stay please let our team know and our hosts will do their best to accommodate you based on availability.
                    li.faq-item 
                        h3.faq-question Credit Card Tabs
                        p.faq-answer Upon entry to Nick and Nora’s our friendly hosts will request that a member from each party start a tab by providing their credit card and license which will be held against the table and stored securely at reception.
                    li.faq-item 
                        h3.faq-question What credit cards do you accept?
                        p.faq-answer We accept all major credit cards except Diners. A surcharge fee applies for all credit card payments.
                    li.faq-item 
                        h3.faq-question Can you smoke on Nick and Nora’s balconies?
                        p.faq-answer Nick and Nora’s is a non smoking venue. Guests are invited to step out onto street level if they wish to smoke.
                    li.faq-item 
                        h3.faq-question Do you have disabled access to the venue?
                        p.faq-answer Nick and Nora’s has disabled access and facilities in all areas of the venue. Access is provided through a private lift so please do let us know in advance if required.
                    li.faq-item 
                        h3.faq-question Are minors allowed in the venue?
                        p.faq-answer Nick and Nora’s does not permit the entry of minors in the venue at any time, even when accompanied by an adult or guardian. Our friendly hosts may request ID of any persons upon entry to the venue.
                    li.faq-item 
                        h3.faq-question Dress code
                        p.faq-answer We are not the fashion police, however please be aware we do require all of our guests to observe a “smart casual” dress code. If you have any questions regarding the dress code please give us a call.
                    li.faq-item 
                        h3.faq-question Can I BYO?
                        p.faq-answer Nick and Nora’s is not a BYO venue, we have a fully licensed bar with an extensive and unique range of beverages.
                    li.faq-item 
                        h3.faq-question Can I bring a birthday cake and is there a charge?
                        p.faq-answer You are more than welcome to bring a birthday cake, we have a $5.00 per person service fee.
                    li.faq-item 
                        h3.faq-question PHOTOGRAPHY AND FILMING
                        p.faq-answer Nick & Nora’s is available for exclusive hire for filming, photography and media purposes. Should any content be created on behalf of the venue or for separate purpose the venue reserves the right to refuse final release and all sharing permissions. Small fees apply for hiring for shoots to cover cost of staff and facilitation. 
                    li.faq-item 
                        h3.faq-question BOOKING CAPACITIES
                        p.faq-answer Whilst we make every effort to be as hospitable as possible, the venue is not responsible for accommodating guests prior to or after the agreed upon event or reservation timings nor are we solely responsible if your party cannot be fully accommodated should it significantly increase or decrease in size without prior notice.
                    li.faq-item 
                        h3.faq-question Do we cater to dietary requirements?
                        p.faq-answer Nick & Nora's Melbourne takes every possible precaution when catering to dietary requirements however cannot guarantee the absence of egg, nut, soy, milk, wheat, fish and shellfish from anything produced in our kitchen. Serious or threatening dietaries require a reservation and a minimum 48 hours notice prior to attending.
                    li.faq-item 
                        h3.faq-question Need more information?
                        p.faq-answer Please contact the reservations and events team directly on 
                            a.faq-link(href="tel:+0383939367") 03 8393 9367 
                            | or email us at 
                            a.faq-link(href="mailto:melbourne@nickandnoras.com.au") melbourne@nickandnoras.com.au