doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=10')
		meta(http-equiv="cleartype" content="on")
		title #{( Page.hasOwnProperty('Title') ? Page.Title+' | '+Meta.Title : Meta.Title )}
		meta(name="description" content=(Page.hasOwnProperty('Description')?Page.Description:Meta.Description))
		meta(name="keywords" content=(Page.hasOwnProperty('Keywords')?Page.Keywords:Meta.Keywords))
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name='format-detection' content='telephone=no')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='robots' content='all,follow')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.5.5/datepicker.css')
		link(href='//fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet')
		script(src='//cdn.ravenjs.com/3.13.1/raven.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/vendors/jquery.imgpreload.min.js')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet")
		link(rel='apple-touch-icon-precomposed' sizes='57x57"' href='/icons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon-precomposed' sizes='114x114' href='/icons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon-precomposed' sizes='72x72"' href='/icons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/icons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon-precomposed' sizes='60x60"' href='/icons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon-precomposed' sizes='120x120' href='/icons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon-precomposed' sizes='76x76"' href='/icons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon-precomposed' sizes='152x152' href='/icons/apple-touch-icon-152x152.png')
		link(rel='icon' type='image/png' href='/icons/favicon-196x196.png' sizes='196x196')
		link(rel='icon' type='image/png' href='/icons/favicon-96x96.png' sizes='96x96')
		link(rel='icon' type='image/png' href='/icons/favicon-32x32.png' sizes='32x32')
		link(rel='icon' type='image/png' href='/icons/favicon-16x16.png' sizes='16x16')
		link(rel='icon' type='image/png' href='/icons/favicon-128.png' sizes='128x128')
		link(rel='stylesheet' href='/css/styles.css')
		link(rel='stylesheet' href='/css/faq.css')
		style(type="text/css").
				body {background:#101010}
				.sr .fooReveal{visibility: hidden}
				body.core-ready section, body.core-ready .float-nav { display:block; }
				.loading-placeholder { display:none; margin: 0 auto; }
				section.loading .loading-placeholder { display:block }
		script(type='text/javascript') window.scrollTo(0,0);
		block head-scripts
	body
		.about-bg-container-nnm.how-to-find-us--mobile
			.heading-container
				h1 How to find us
			a(href="/img/how-to-find-us.jpeg")
				img.img-fluid.how-to-find-us(src="/img/how-to-find-us.jpeg", alt="Entrance 11 Benson Walk, 80 Collins Street, CBD, Melbourne VIC, 3000 (an arcade that connects Collins Street to Little Collins Street)")
			.how-to-find-us-content.text-center
				h2 Please note
				p Due to being a brand new development our Google Pin has dropped in the wrong place.
				.about-content
					p 
						| Please got to the corner of Little Collins and Exhibitions Street.
					p
						| Head down Little Collins Street in the same direction as the traffic about 20 metres and take your first left into the small laneway called 11 Benson Walk. 
					p
						| We are the first door on the left with a small street sign that says Champagne and Cocktails above our door.
				.text-center
					p If you require further assitance to make your booking please call us on <a href="tel:(03) 8393 9367">(03) 8393 9367</a>
		.about-bg-container-nnm.how-to-find-us--desktop
			.heading-container
				h1 How to find us
			.container
				.about-container.col-sm-12
					.row.how-to-find-us-content
						.col-sm-4
							.about-header.how-to-find-us-header
								h2 Please note -
								p due to being a brand new development our Google Pin has dropped in the wrong place.
							.about-content
								p 
									| Please got to the corner of Little Collins and Exhibitions Street.
								p
									| Head down Little Collins Street in the same direction as the traffic about 20 metres and take your first left into the small laneway called 11 Benson Walk. 
								p
									| We are the first door on the left with a small street sign that says Champagne and Cocktails above our door.
						.col-sm-8
							img.img-fluid.how-to-find-us(src="/img/how-to-find-us.jpeg", alt="Entrance 11 Benson Walk, 80 Collins Street, CBD, Melbourne VIC, 3000 (an arcade that connects Collins Street to Little Collins Street)")
					.row.how-to-find-us-content
						.col-sm-12
							.text-center
								p If you require further assitance to make your booking please call us on <a href="tel:(03) 8393 9367">(03) 8393 9367</a>
	footer
		.text-center.how-to-find-us-content
			a(href="/melbourne") Return to main Site
