#join-our-team-content.clearfix
	.join-our-team.col-sm-6
		h2 Join Our Team
		p The Speakeasy Group operate a number of award winning venues, including Eau-de-Vie, in Sydney, Boilermaker House and Eau-de-Vie in Melbourne.
		p Within all our venues we pride ourselves on offering first class service, with a focus on exceptional and unique drinking and dining experiences. The company is owned and operated by hospitality professionals, with over 20 years experience within the drinks industry and we aim to hire like minded individuals, with a desire to be the best they can possibly be within this wonderful industry.
		p The Speakeasy Group are a company devoted to training and skill development for all staff, with a focus to be at the forefront of the bar industry, both locally and globally. If this sounds like the company for you, we would love to hear from you. Sláinte!
	.join-our-team.col-sm-6
		form.form.join-team-form(action="/api/melbourne/join-our-team" enctype="multipart/form-data" method="POST")
			.form-group
				label.input-label
					span Full name *
				input.form-control(type='text', name='fullname', placeholder='Full Name', required='required')
			.form-group
				label.input-label
					span Email *
				input.form-control(type='text', name='email', placeholder='Email Address', required='required')
			.form-group
				label.input-label
					span Phone *
				input.form-control(type='text', name='phone', placeholder='', required='required')
			fieldset.form-group
				span(style="display: block") Are you a permanent Australian resident? *
				label.form-check-label.radio-inline
					input.form-check-input(type='radio', name='perm_resident', required='required' value="yes")
					| Yes
				label.form-check-label.radio-inline
					input.form-check-input(type='radio', name='perm_resident', required='required' value="no")
					| No
			.form-group
				label.input-label
					span Where would you like to work? *
				select.form-control(type='text', name='where_would_you_like_to_work', required='required')
					option(value='' selected='selected')
					option(value='Bar') Bar
					option(value='Floor') Floor
					option(value='Management') Management
					option(value='Kitchen') Kitchen
			.form-group
				label.input-label
					span Why would you like to join our team? 
				textarea.form-control(type='text', name='message', placeholder='', style='resize: none', rows='6')
			.form-group
				label
					span Attach resume file:
					input(type='file' name="fileresume" id='resumeUpload')
					small(id='resumeHelp' class='form-text text-muted') PDF, doc, docx, txt 
			input(type='hidden' name='location' value='melbourne')
			input(type="checkbox" name="contact_via_fax" value="1" tabindex="-1" autocomplete="off")
			.form-group
				button.button.embers.join-team-button(type='submit', id='formButton') Send