extends layout
//- OpenTable rid=131351
//- script should only be added in one file
//- to add another button use - a.embers.make-a-booking(data-featherlight="#bookings-pop-content") button text
//- Remove any opentable scripts linking to another rid, can cause incorrect bookings
block head-section
	#bookings-pop
			#bookings-pop-content.bookings-pop-content
				script(type='text/javascript' src='//www.opentable.com.au/widget/reservation/loader?rid=131351&type=standard&theme=standard&iframe=true&domain=comau&lang=en-AU&newtab=false&ot_source=Restaurant%20website')
	section#home.melbourne.full-page(data-name="landing")
		.intro-video
			video(width="100%" height="100%" playsinline loop autobuffer autoplay muted).hidden-xs
				source(src="/videos/header.mp4#t=10" type="video/mp4")
				source(src="/videos/header.webm#t=10" type="video/webm")
				source(src="/videos/header.ogv#t=10" type="video/ogv")
			video(width="100%" height="100%" playsinline loop autobuffer autoplay muted).visible-xs
				source(src="/videos/header-mobile.mp4#t=10" type="video/mp4")
				source(src="/videos/header-mobile.webm#t=10" type="video/webm")
				source(src="/videos/header-mobile.ogv#t=10" type="video/ogv")
		a.section-link(href="#")
	include menu-nav
block content
	include section-about
	include section-menu
	//- include section-whats-on
	//- include section-gallery
	include section-masterclasses-slider
	//- include section-masterclasses
	include section-events
	include section-contact
	include section-map
	span.credit-link
		| Website by 
		a(href="https://collectiveus.com/") CollectiveUs

block foot-scripts
	script(src='/vendors/smooth-scroll-to/smooth-scroll-to.js')
	script(src='/vendors/jquery.lightslider/lightslider.js')
	script(src='/vendors/wow-book/wow-book.min.js')
	script(src='/vendors/myguestlist.min.js')
	script(type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyBlgIn8vzt6tG2Jyne6pqfNqwJk6X_C9yo")
block page-scripts
	script(src='/js/scripts.js')
	