section#events(data-name="events").nnm
	.section-head-nav.our-menu-container.section-events-header
		.section-header.our-menu-header
			h1 Events
	.our-menu-content.hidden-xs
		img.loading-placeholder.img-responsive-vert(src='/img/front-cover.jpg')
		.col-xs-12.col-sm-10.col-sm-offset-1
			.book-display-wrapper
				#book-events-controls.book-controls
					#book-events-prev.prev-page
					#book-events-next.next-page
				#book-events.clearfix
					.page(data-image='/img/front-cover.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-1.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-2.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-3.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-4.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-5.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-6.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-7.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-8.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-9.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-10.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-11.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-12.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-13.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-14.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-15.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-16.jpg')
					.page(data-double="true" data-image='/pdf/melbourne/events/NNM_Events-Pack-page-17.jpg')
					.page(data-image='/img/back-cover.jpg')
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
				a.pdf-button-link.button.embers(href="/pdf/melbourne/events/N&NM_Events-Pack.pdf" target="_blank") View as PDF
	.visible-xs
		.mb-3
	.visible-xs
		.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
				a.pdf-button-link.button.embers(href="/pdf/melbourne/events/N&NM_Events-Pack.pdf" target="_blank") View Events Package
	.container-wallpaper
