section#map-image.map-melbourne(data-name="map")
	a.map-link(href="https://www.google.com.au/maps/place/80+Collins+St,+Melbourne+VIC+3000/@-37.8135003,144.9685462,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad642c842c81fb1:0xf3194126ffb41a17!8m2!3d-37.8135003!4d144.9707349" target="_blank")

	