section#masterclass(data-name="masterclasses")
	.section-head-nav.gallery-container.container-fluid
		.section-header.gallery-header
			h1 Masterclasses
		.row
			.col-md-6.col-md-offset-3.col-xs-12
				.masterclass-blurb
					p Nick &amp; Nora's love hosting classes; whether you are looking to hone your knowledge, or just have some fun. The unique and interactive experiences are a fantastic addition to a hens or bucks party, birthday celebrations, a fun way to encourage team building amongst your staff or offer a truly memorable experience when hosting clients and colleagues.
					p Masterclasses can be held as either part of an afternoon or evening event, or as a single 90 minute session and are fully customisable to suit your event, timings and budget. All sessions are hosted by one of our passionate and charismatic bartenders. All Masterclass session start at $75 per person and include a host, light snacks and semi private event space for you and your guests to enjoy.
	.col-xs-12.col-sm-10.col-sm-offset-1
		ul#gallery-masterclasses
			//Whisky
			li.gallery-page
				.container-fluid.container-masterclass-gallery
					.gallery-content
						.gallery-cage.row
							.col-xs-12.col-sm-6.col-md-4
								a(href="/img/masterclass/experience-whisky.pdf")#whisky-masterclass.masterclass-block.has-frill.button.embers
									.masterclass-block-content
										.masterclass-block-header
											h2 Whisky Masterclass
										.button.pdf-button-link More Info
							.col-xs-12.col-sm-6.col-md-4
								a(href="/img/masterclass/experience-martini.pdf")#martini-masterclass.masterclass-block.has-frill.embers
									.masterclass-block-content
										.masterclass-block-header
											h2 Martini Masterclass
										.button.pdf-button-link More Info
							.col-xs-12.col-sm-6.col-md-4
								a(href="/img/masterclass/experience-cocktail.pdf")#cocktail-masterclass.masterclass-block.has-frill.embers
									.masterclass-block-content
										.masterclass-block-header
											h2 Cocktail Masterclass
										.button.pdf-button-link More Info
		.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.masterclass-enquiry-button-container
			a.masterclass-form-trigger.button.pdf-button-link Enquire Now
