.about-bg-container-nnm
	section(data-name="about")
		.container
			.about-container.col-sm-6.col-sm-offset-3
				.about-header
					h1 About
					p
						| Nick &amp; Nora’s is a cocktail and champagne bar that brings the golden era of glamourous and decadent post prohibition soirees to the modern day, in the heart of Melbourne.
					p
						| Inspired by fictional murder solving duo Nick and Nora Charles from novel The Thin Man, Nick and Nora’s Melbourne brings the couples legendary parties and love for all things cocktail and champagne to its exceptional inner city location.
					p
						| Step inside to experience the true Nick &amp; Nora Charles hospitality and let our world class bartenders create the perfect libation.
					p
						| The magnificent food menu compliments the extensive range of champagne and cocktails perfectly, featuring oysters, caviar, local and imported cheese and cured meats as well as substantial canapés.
					p
						| Treat your guests to an elegant event in one of our exclusive and luxury spaces.
					.text-center.padding-b
						a.how-to-find-us-about-link(href="/melbourne/find-us" target="_blank")
							h2 Having trouble finding us? Click here.
							img.img-fluid.howtofind-thumb(src="/img/how-to-find-us.jpeg", alt="Entrance 11 Benson Walk, 80 Collins Street, CBD, Melbourne VIC, 3000 (an arcade that connects Collins Street to Little Collins Street)")
				.hidden-lg.hidden-md.hidden-sm
					.about-content.about-actions
						.row
							.col-xs-6
								//booking link
								a.make-a-booking(data-featherlight="#bookings-pop-content") Book Now
							.col-xs-6
								//gift-voucher link
								a.make-a-booking(href="https://tickets.myguestlist.com/v25fab274337a36/nick-noras-melbourne-gift-voucher/") Gift Vouchers
	section(data-name="about-detail")
		.container
			.row
				.col-sm-6.col-md-4.no-float
					a.about-block(data-fn="menu")
						.about-block-header
							h2 MENU
							img.img-responsive(src="/img/menu-block-nnm.jpg")
						.about-block-body
							.about-block-content
								| Our exceptional ‘Raw Bar’ showcases the best in local oysters, world class caviar and artisanal cheese and charcuterie. The perfect complement to your champagne or cocktail.
							.about-block-link
								.button.ember More Info
				.col-sm-6.col-md-4.no-float
					a.about-block(data-fn="beverages")
						.about-block-header
							h2 BEVERAGES
							img.img-responsive(src="/img/beverage-block-nnm.jpg")
						.about-block-body
							.about-block-content
								| Offering a signature list of cocktails with characteristic Speakeasy Group flair, 50+ Champagnes form the world’s most renowned houses and an impressive back bar of whiskies, cognacs and world class spirits let our bartenders create you the perfect libation – whatever your imbibing preference.
							.about-block-link
								.button.ember More Info
				.col-sm-6.col-md-4.no-float
					a.about-block(data-featherlight="iframe" data-featherlight-iframe-height="850" data-featherlight-iframe-width="400" href="https://myguestlist.com.au/mgl/showForm.php?id=5b5e683db0d78")
						.about-block-header
							h2 EVENTS
							img.img-responsive(src="/img/events-block-nnm.jpg")
						.about-block-body
							.about-block-content
								| Join our dedicated events team in creating beautiful, luxury and bespoke event experiences for you and your guests. Perfect for large private celebrations, glamorous low key affairs, corporate soirees or special occasions. Enjoy one of our uniquely styled event spaces whilst hosting a truly unforgettable experience.
							.about-block-link
								.button.ember More Info