section#contact(data-name="contact")
	.section-head-nav.gallery-container.hidden-xs
		.section-header.gallery-header
			h1 Contact
	.container
		.row.contact-bg
			.col-sm-6.contact-redirect.text-center
				.open-times-footer
					h2.bookings-text Bookings
					p.bookings-text Nick and Nora’s is now taking reservations online.
					.col-sm-6(style="padding-bottom:5px")
						p.bookings-text 
							| Nick and Nora's Melbourne is open and taking online bookings for Wednesday, Thursday, Friday and Saturday and Sundays across indoor and outdoor spaces. Booking periods are for 2 hours and we can accomodate a maximum amount of 10 guests per party.
						p.bookings-text 
							| Online bookings are strongly encouraged but we are also accepting walk in guests throughout the evening. If your preferred time or date is unavailable through our online booking system please join us on the evening and our friendly team will do their best to accommodate.
						p.bookings-text 
							| If you are looking for events or have any questions please email us on <a href="mailto:melbourne@nickandnoras.com.au" target="_blank">melbourne@nickandnoras.com.au</a> We are also opening for exclusive events outside normal operating hours, feel free to get in touch with us for further information.
						p.bookings-text
							| For more information on what The Speakeasy Group is doing to keep staff and guests safe when open <a href="https://speakeasygroup.com.au/pdf/COVID-19-guest-communication-12-20.pdf" target="_blank">click here</a>.
					.col-sm-6(style="padding-bottom:5px")
						script(type='text/javascript' src='//www.opentable.com.au/widget/reservation/loader?rid=131351&type=standard&theme=standard&iframe=true&domain=comau&lang=en-AU&newtab=false&ot_source=Restaurant%20website')
				.mb-3
				.open-times-footer
					h2.text-center.contact-form-heading Event Enquiries
				.row
					.col-xs-6
						a.pdf-button-link.button.embers#event-enquiry-form-trigger Event Enquiries
						.mb-3
					.col-xs-6
						//- a.pdf-button-link.button.embers(data-featherlight="iframe" data-featherlight-iframe-height="550" data-featherlight-iframe-width="400" href="https://myguestlist.com.au/mgl/showForm.php?id=5b722f789a439" target="_blank") Media Enquiries
						a.pdf-button-link.button.embers#media-enquiry-form-trigger Media Enquiries
						.mb-3
					.col-xs-6
						a.pdf-button-link.button.embers#general-enquiry-form-trigger General Enquiries
						.mb-3
					.col-xs-6
						a.pdf-button-link.button.embers#masterclass-form-trigger.masterclass-form-trigger Masterclass Enquiries
				.mb-3
				.row
					.col-xs-12
						.like-container
							.fb-like(
								data-href="https://www.facebook.com/nickandnorasmelbourne/"
								data-layout="standard"
								data-colorscheme="dark"
								data-action="like"
								data-size="large")
			.col-sm-6
				.contact-detail-container
					.open-times-footer.visible-xs
						h2 Contact
					.contact-logo
						img.img-responsive(src="/img/nicknora-inverse.png")
					ul.contact-details
						li
							| PH: 
							a(href="tel:+0383939367") (03) 8393 9367
						li
							| Email:
							a(href="mailto:melbourne@nickandnoras.com.au") melbourne@nickandnoras.com.au
						li
							| Address:
							a(href="Level 26, 45 Macquarie St, Parramatta 2150")
								| Entrance 11 Benson Walk, 80 Collins Street, CBD, Melbourne VIC, 3000
								| (an arcade that connects Collins Street to Little Collins Street)
					.open-times-footer
						h2 Open Times
						li Monday: 
							span CLOSED
						li Tuesday: 
							span 5pm - 1am
						li Wednesday: 
							span 5pm - 1am
						li Thursday: 
							span 5pm - 1am
						li Friday: 
							span 3pm - 1am
						li Saturday: 
							span 3pm - 1am
						li Sunday: 
							span 2pm - 11pm
					//- .open-times-footer.padding-10.easter
					//- 	h2 Easter & Anzac Day Opening Hours
					//- 	li Good Friday: 
					//- 		span 
					//- 	li Easter Saturday: 
					//- 		span 
					//- 	li Easter Sunday: 
					//- 		span 
					//- 	li Easter Monday: 
					//- 		span 
					//- 	li Anzac Day: 
					//- 		span 
					.mb-3
					.row
						.col-sm-6
							a.pdf-button-link.button.embers(href="https://www.facebook.com/nickandnorasmelbourne/" target="_blank")
								| Facebook
						.mb-3.visible-xs
						.col-sm-6
							a.pdf-button-link.button.embers(href="https://www.instagram.com/nickandnorasmelbourne/" target="_blank")
								| Instagram
					.mb-3
					a.pdf-button-link.button.embers(data-featherlight="#join-our-team-content") Join Our Team
					.mb-3
					a.pdf-button-link.button.embers#subscribe-form-trigger Subscribe to our Newsletter
					.mb-3
					a.pdf-button-link.button.embers(href="https://tickets.myguestlist.com/v25fab274337a36/nick-noras-melbourne-gift-voucher/") Gift Vouchers
.hidden
	#subscribe-form.featherlight-form
		h1.contact-form-heading Subscribe to our Newsletter
		.row
			.col-sm-8.col-sm-offset-2
				form#mf17f425cf1bb.form.contact-form(action='//myguestlist.com/mgl/formreceiver.php', method='POST')
					input(type='hidden', name='formID', value='mf17f425cf1bb')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf17f425cf1bb_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf17f425cf1bb_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf17f425cf1bb_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf17f425cf1bb_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					.form-group
						label.input-label
							span If you have a special sign up code, please enter it below. Otherwise, just click on the Submit button to complete your registration.
							input#mf17f425cf1bb_SpecialSignUpCode.form-input(type='text', name='SpecialSignUpCode', placeholder='Code*')
					.g-recaptcha.form-group#subscribe-recaptcha
					.form-group
						button.button.embers.ready(type='submit', id="newsletterFormButton") Send
	#general-enquiry-form.featherlight-form
		h1.contact-form-heading General Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				form#mf5df0587a4d4cd.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf5df0587a4d4cd')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf5df0587a4d4cd_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf5df0587a4d4cd_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf5df0587a4d4cd_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf5df0587a4d4cd_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					//- Company name if applicable
					.form-group
						label.input-label 
							span company name
							input#mf5df0587a4d4cd_CompanyNameIfApplicable.form-input(type='text' name='CompanyNameIfApplicable' placeholder='Company Name')
					//- Message
					.form-group
						label.input-label
							span message*
							textarea#mf5df0587a4d4cd_Message.form-input(type='text' name='Message' placeholder='Message*' required='required')
					.g-recaptcha.form-group#general-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="generalFormButton" disabled="disabled") Send
	#masterclass-form.featherlight-form
		h1.contact-form-heading Masterclass Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				//- form#test(onsubmit="return false;")
				//- 	button.testoo(type="submit")
				//- form#mf17da65a5250.form.contact-form(method='POST' action='/recaptcha')
				form#mf17da65a5250.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf17da65a5250')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf17da65a5250_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf17da65a5250_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf17da65a5250_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf17da65a5250_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					.form-group
						label.input-label
							span phone number*
							select#mf17da65a5250_MasterclassType.form-input(type='text', name='MasterclassType', placeholder='Masterclass Type*', required='required')
								option(value="" selected="selected") Masterclass Type*
								option(value="Martini Masterclass") Martini Masterclass
								option(value="Whisky Masterclass") Whisky Masterclass
								option(value="Cocktail Masterclass") Cocktail Masterclass
					.form-group
						label.input-label
							span occasion
							table(border="0" cellpadding="2" style="margin-bottom: 10px;width:100%;")
								tbody
									tr
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="Occassion[]" value="Corporate")
												span(class="checkbox-label") Corporate
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="Occassion[]" value="Special Occasion")
												span(class="checkbox-label") Special Occasion
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="Occassion[]" value="Hen&#39;s Party")
												span(class="checkbox-label") Hen's Party
											br
									tr
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="Occassion[]" value="Buck&#39;s Party")
												span(class="checkbox-label") Buck's Party
											br
										td(class="fieldOption" style="margin-bottom: 20px;")
											label.input-label
												input(type="checkbox" name="Occassion[]" value="Birthday") 
												span(class="checkbox-label") Birthday
											br
					//- Company name if applicable
					.form-group
						label.input-label 
							span company name
							input#mf17da65a5250_CompanyName.form-input(type='text' name='CompanyName' placeholder='Company Name')
					//- Date of event
					.form-group
						label.input-label
							span date of event*
							input#mf17da65a5250_DateOfEvent.form-input.masterclass-datepicker(type="text" style="padding-left: 16px; background-image: url(\"//www.myguestlist.com.au/mgl/images/formgen/date.png\"); background-repeat: no-repeat; width:100%;" name="DateOfEvent" readonly="" rel="required" placeholder="Date of your event*" aria-invalid="false")
							input.form-input(name="mgldaterealval__DateOfEvent" type="hidden" style="display:none;")
					//- Event timing
					.row
						label.input-label(style="margin-left:1.5rem;")
							span time*
						.col-sm-4
							.form-group
								select.form-input(name="TimeOfEvent[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") HH
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7
									option(value="8") 8
									option(value="9") 9
									option(value="10") 10
									option(value="11") 11
									option(value="12") 12
						.col-sm-4
							.form-group
								select.form-input(name="TimeOfEvent[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") MM
									option(value="00") 00
									option(value="30") 30
						.col-sm-4
							.form-group
								select.form-input(name="TimeOfEvent[]" rel="required" mgltype="time")
									option(value="") 
									option(value="AM" selected="selected") AM
									option(value="PM") PM
					.form-group
						label.input-label
							span approximate numbers*
							input.form-input#mf17da65a5250_ApproximateNumbers(type="text" name="ApproximateNumbers" value="" required="required" placeholder="Approximate numbers*")
					//- Message
					.form-group
						label.input-label
							span message*
							textarea#mf17da65a5250_Message.form-input(type='text' name='Message' placeholder='Message*' required='required')
					//- Captcha
					.form-group.hidden
						label.input-label
							span Captcha
						//- .g-recaptcha
							//- input(type="text", name="gToken" hidden)
							//- div.MGLRecaptchaContainer(id="mf17da65a5250_recaptcha" )
							//- #MGLRecaptchaContainer.xxx_recaptcha
					.g-recaptcha.form-group#masterclass-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="masterclassFormButton" disabled="disabled") Send
	#event-enquiry-form.featherlight-form
		h1.contact-form-heading Event Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				//- form#test(onsubmit="return false;")
				//- button.testoo(type="submit")
				//- form#mf17da65a5250.form.contact-form(method='POST' action='/recaptcha')
				form#mff05d288d786.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mff05d288d786')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mff05d288d786_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mff05d288d786_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mff05d288d786_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mff05d288d786_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					//- .form-group
					//- 	label.input-label
					//- 		span occasion
					//- 		table(border="0" cellpadding="2" style="margin-bottom: 10px;width:100%;")
					//- 			tbody
					//- 				tr
					//- 					td(class="fieldOption" style="margin-bottom: 20px;")
					//- 						label.input-label
					//- 							input(type="checkbox" name="CustomCheckboxes[]" value="Corporate")
					//- 							span(class="checkbox-label") Corporate
					//- 						br
					//- 					td(class="fieldOption" style="margin-bottom: 20px;")
					//- 						label.input-label
					//- 							input(type="checkbox" name="CustomCheckboxes[]" value="Special Occasion")
					//- 							span(class="checkbox-label") Special Occasion
					//- 						br
					//- 					td(class="fieldOption" style="margin-bottom: 20px;")
					//- 						label.input-label
					//- 							input(type="checkbox" name="CustomCheckboxes[]" value="Other")
					//- 							span(class="checkbox-label") Other
					//- 						br
					//- Company name if applicable
					//- .form-group
					//- 	label.input-label 
					//- 		span company name
					//- 		input#mff05d288d786_CompanyNameIfApplicable.form-input(type='text' name='CompanyNameIfApplicable' placeholder='Company Name')
					//- Date of event
					.form-group
						label.input-label
							span date of event*
							input#mff05d288d786_DateOfYourEvent.form-input.event-datepicker(type="text" style="padding-left: 16px; background-image: url(\"//www.myguestlist.com.au/mgl/images/formgen/date.png\"); background-repeat: no-repeat; width:100%;" name="DateOfYourEvent" readonly="" rel="required" placeholder="Date of your event*" aria-invalid="false")
							input.form-input(name="mgldaterealval__DateOfYourEvent" type="hidden" style="display:none;")
					//- Event timing
					.row
						label.input-label(style="margin-left:1.5rem;")
							span time*
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") HH
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7
									option(value="8") 8
									option(value="9") 9
									option(value="10") 10
									option(value="11") 11
									option(value="12") 12
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time" class="has_placeholder")
									option(value="") MM
									option(value="00") 00
									option(value="30") 30
						.col-sm-4
							.form-group
								select.form-input(name="Time[]" rel="required" mgltype="time")
									option(value="") 
									option(value="AM" selected="selected") AM
									option(value="PM") PM
					//- Approx. budget
					.row
						label.input-label(style="margin-left:1.5rem;")
							span approximate budget*
						.col-sm-12
							.form-group
								select#mff05d288d786_ApproximateBudget.form-input(name="ApproximateBudget" rel="required" mgltype="time" class="has_placeholder")
									option(value="" selected="selected") Approximate budget*
									option(value="Under $1,000") Under $1,000
									option(value="$1,000 - $2,000") $1,000 - $2,000
									option(value="$2,000 - $5,000") $2,000 - $5,000
									option(value="$5,000 - $10,000") $5,000 - $10,000
									option(value="Over $10,000") Over $10,000
					.form-group
						label.input-label
							span approximate numbers*
							input.form-input#mff05d288d786_ApproximateNumbers(type="text" name="ApproximateNumbers" value="" required="required" placeholder="20 - 50")
					//- Message
					.form-group
						label.input-label
							span tell us about your event*
							textarea#mff05d288d786_TellUsAboutYourEvent.form-input(type='text' name='TellUsAboutYourEvent' placeholder='Message*' required='required')
					//- Captcha
					.form-group.hidden
						label.input-label
							span Captcha
					.g-recaptcha.form-group#event-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="eventFormButton" disabled="disabled") Send
	#media-enquiry-form.featherlight-form
		h1.contact-form-heading Media Enquiries
		.row
			.col-sm-8.col-sm-offset-2
				form#mf5df0589cefd0e.form.contact-form(onsubmit="return false;")
					input(type='hidden', name='formID', value='mf5df0589cefd0e')
					.row
						.col-sm-6
							.form-group
								label.input-label
									span first name*
									input#mf5df0589cefd0e_PatronName.form-input(type='text', name='PatronName', placeholder='First Name*', required='required')
						.col-sm-6
							.form-group
								label.input-label
									span last name*
									input#mf5df0589cefd0e_PatronSurname.form-input(type='text', name='PatronSurname', placeholder='Last Name*', required='required')
					.form-group
						label.input-label
							span email address*
							input#mf5df0589cefd0e_PatronEmail.form-input(type='text', rel='email', name='PatronEmail', placeholder='Email*', required='required')
					.form-group
						label.input-label
							span phone number*
							input#mf5df0589cefd0e_PatronMobile.form-input(type='text', name='PatronMobile', placeholder='Phone Number*', required='required')
					//- Publication
					.form-group
						label.input-label 
							span publication*
							input#mf5df0589cefd0e_Publication.form-input(type='text' name='Publication' placeholder='Company Name')
					.g-recaptcha.form-group#media-recaptcha
					.form-group
						button.button.embers.ready.formButton(type='submit', id="mediaFormButton" disabled="disabled") Send
include join-our-team