section#masterclass(data-name="masterclasses")
	.section-head-nav.gallery-container.container-fluid
		.section-header.gallery-header
			h1 Masterclasses
		.row
			.col-md-6.col-md-offset-3.col-xs-12
				.masterclass-blurb
					p Nick &amp; Nora's love hosting classes; whether you are looking to hone your knowledge, or just have some fun. The unique and interactive experiences are a fantastic addition to a hens or bucks party, birthday celebrations, a fun way to encourage team building amongst your staff or offer a truly memorable experience when hosting clients and colleagues.
					p Masterclasses can be held as either part of an afternoon or evening event, or as a single 90 minute session and are fully customisable to suit your event, timings and budget. All sessions are hosted by one of our passionate and charismatic bartenders. All Masterclass session start at $75 per person and include a host, light snacks and semi private event space for you and your guests to enjoy.
		.container-fluid.container-masterclass-gallery
			.mc-slider.gallery-content
				.row.gallery-cage
					#masterClassSlider
						//- Slider starts here
						
						//- Champagne
						.col-xs-12.col-sm-6.col-md-3
							#masterClassChampagne.melbourne.masterclass-block
								.masterclass-block-content
									.masterclass-block-header
										h2 CHAMPAGNE MASTERCLASS
										p Starting from $70 per person
									.relative
										.masterclass-subtitle.clearfix
											.col-sm-12
												| Champagne masterclasses include glasses from five unique and premium sparkling & champagne producers from around the world.
									.frill
										.upper
										.lower

						//- Martini
						.col-xs-12.col-sm-6.col-md-3
							#masterClassMartini.melbourne.masterclass-block
								.masterclass-block-content
									.masterclass-block-header
										h2 MARTINI MASTERCLASS
										p Starting from $120 per person
									.relative
										.masterclass-subtitle.clearfix
											.col-sm-12
												| Be taken on a martini journey. We’ll cover history, different styles and pair your libation with some bite size nibbles.
									.frill
										.upper
										.lower

						//- COCKTAILS
						.col-xs-12.col-sm-6.col-md-3
							#masterClassCocktails.melbourne.masterclass-block
								.masterclass-block-content
									.masterclass-block-header
										h2 COCKTAIL MASTERCLASS
										p Starting at $75 per person
									.relative
										.masterclass-subtitle.clearfix
											.col-sm-12
												| Making drinks at home can sometimes be intimidating, but it doesn’t have to be!
												| Join us in our cocktail masterclasses to level up your drink mixing skills and take
												| your next dinner party to a whole new level. Cocktail classes generally run for 1.5hrs and include a knowledgeable host and 3 cocktails. Available for groups of 6-20 guests.
									.frill
										.upper
										.lower

						//- WHISKY
						.col-xs-12.col-sm-6.col-md-3
							#masterClassWhisky.melbourne.masterclass-block
								.masterclass-block-content
									.masterclass-block-header
										h2 WHISKY MASTERCLASS
										p Starting at $75 per person
									.relative
										.masterclass-subtitle.clearfix
											.col-sm-12
												| Whiskey Classes include 5 x 15ml whiskies and are hosted by one of our knowledgeable and passionate bartenders in a session running approximately 90 minutes with a choice of 4 different style classes.
									.frill
										.upper
										.lower

						//- COGNAC
						.col-xs-12.col-sm-6.col-md-3
							#masterClassCognac.melbourne.masterclass-block
								.masterclass-block-content
									.masterclass-block-header
										h2 COGNAC MASTERCLASS
										p Starting at $100 per person
									.relative
										.masterclass-subtitle.clearfix
											.col-sm-12
												| Our tailor-made Cognac Masterclasses include 4 x 15ml cognacs hand selected for their uniqueness and regionality, the class is then hosted by one of our expert bartenders in a session running for approximately 90 minutes.

									.frill
										.upper
										.lower
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.masterclass-enquiry-button-container
				a.masterclass-form-trigger.button.pdf-button-link Enquire Now