section#whats-on(data-name="whats-on")
	.section-head-nav
		.section-header
			h1 What's On
	.container
		.row
			.col-xs-12.col-sm-10.col-sm-offset-1.no-float
				//- .col-sm-6.col-md-6.no-float
				a.about-block(href="https://tickets.myguestlist.com/v25fc49af1175ab/nick-noras-new-years-eve-/evs5fc49af11d653/" target="_blank")
					#nye-melbourne.about-block-header
						img.img-responsive(src="/img/nye-nickandnoras.png")
					.about-block-body
						.about-block-content
							h2 Buy Tickets
							p New Years Eve at Nick and Noras Melbourne
						.about-block-link
							.button.ember More Info
			#events-feed
	.container-wallpaper