section#menu(data-name="menu").nnm
	.section-head-nav.our-menu-container
		.section-header.our-menu-header
			h1 Our Menu
		#menu-gallery-nav.section-nav.our-menu-nav
			a(data-link="raw-bar" data-book-ref="RawBar").active Food
			a(data-link="cocktails" data-book-ref="Cocktails") Cocktails
			a(data-link="booze" data-book-ref="Booze") Booze
	.our-menu-content
		img.loading-placeholder.img-responsive-vert(src='/img/front-cover.jpg')
		#menu-gallery
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-raw-bar-controls.book-controls
									#book-raw-bar-prev.prev-page
									#book-raw-bar-next.next-page
								#book-raw-bar.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-image='/pdf/melbourne/food/food-menu-1.jpg')
									.page(data-image='/pdf/melbourne/food/food-menu-2.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/melbourne/food/food-menu.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-cocktails-controls.book-controls
									#book-cocktails-prev.prev-page
									#book-cocktails-next.next-page
								#book-cocktails.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/front-back.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-01.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-02.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-03.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-04.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-05.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-06.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-07.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-08.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-09.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-10.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-11.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-12.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-13.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-14.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-15.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-16.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-17.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-18.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-19.jpg')
									.page(data-double="true" data-image='/pdf/melbourne/Nick-Noras-Cocktail-Menu/Nick-&-Noras-Cocktail-Menu-page-20.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/melbourne/Nick-Noras-Cocktail-Menu.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-booze-controls.book-controls
									#book-booze-prev.prev-page
									#book-booze-next.next-page
								#book-booze.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-001.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-002.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-003.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-004.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-005.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-006.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-007.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-008.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-009.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-010.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-011.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-012.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-013.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-014.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-015.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-016.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-017.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-018.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-019.jpg')
									.page(data-double="false" data-image='/pdf/melbourne/booze-menu/Menu-Booze-02-02-21-page-020.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/melbourne/booze-menu/Menu-Booze-11-02-21.pdf" target="_blank") View as PDF
			li
				.container
					.row
						.col-xs-12.col-sm-10.col-sm-offset-1
							.book-display-wrapper
								#book-cigars-controls.book-controls
									#book-cigars-prev.prev-page
									#book-cigars-next.next-page
								#book-cigars.clearfix
									.page(data-image='/img/front-cover_b.jpg')
									.page(data-image='/pdf/melbourne/Menu Cigars_FA for Web/Menu Cigars_FA-1.jpg')
									.page(data-image='/pdf/melbourne/Menu Cigars_FA for Web/Menu Cigars_FA-2.jpg')
									.page(data-image='/img/back-cover.jpg')
							.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
								a.pdf-button-link.button.embers(href="/pdf/melbourne/Menu Cigars_FA.pdf" target="_blank") View as PDF
	.our-menu-display
		strong(style="font-size:18px; color:white;") * Example menu only
	.container-wallpaper
